
{# 
						<div class="{{class ?? 'swiper-slide product-card'}}">
							<div class="pc__img-wrapper">
								<a href="{{item.lang_content.prefix}}">
									<img loading="lazy" src="{{item.picture}}" width="330" height="400" alt="{{item.lang_content.title}}" class="pc__img">
									<img loading="lazy" src="{{item.images[0].path}}" width="330" height="400" alt="{{item.lang_content.title}}" class="pc__img pc__img-second">
								</a>
								<div class="anim_appear-bottom position-absolute w-100 text-center mb-3">
									
                                    <a x-on:click="setTimeout(function() {submitForm('form-sidecart', 'sidecart-items')}, 10)" href="/front_api/create?type=Cart.create&params[item_id]={{item.product_id}}&params[qty]=1" class="pt-2  js-add-cart js-open-aside ajax-link btn btn-round btn-hover-red border-0 text-uppercase me-1 me-md-2 js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart">
										<svg class="d-inline-block" width="14" height="14" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_cart"/></svg>
									</a>
									<button class="btn btn-round btn-hover-red border-0 text-uppercase me-1 me-md-2 js-quick-view" data-bs-toggle="modal" data-bs-target="#quickView" title="Quick view">
										<svg class="d-inline-block" width="18" height="18" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><use href="#icon_view"/></svg>
									</button>
                                    
                                    <a href="/front_api/create?type=Wishlist.create&params[item_id]={{item.product_id}}" data-params="{{item.product_id}}"   class="pt-2 js-add-wishlist ajax-link btn btn-round btn-hover-red border-0 text-uppercase me-1 me-md-2 " title="Add To Wishlist">
										<svg class="d-inline-block" width="14" height="14" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart"/></svg>
									</a>

								</div>
							</div>

							<div class="pc__info position-relative">

								<div class="rating flex gap-2">
									{% set rate = item.rate() %}
									<div class="flex gap-2 w-full">
										{% if item.reviews|length %}
											<div class="stars">
												{% for i in [0,1,2,3,4] %}
													<i class="la la-star {{rate > i ? 'text-yellow-400' : 'opacity-10'}}"></i>
												{% endfor %}
											</div>
											<span class="num">
												({{item.reviews|length}})
											</span>
										{% endif %}
									</div>
									<div class="d-flex align-items-center mt-1">
										{% for i in item.product_colors %}
											<a href="#" class="swatch-color border-b-2 pc__swatch-color" style="color: {{i.value}}"></a>
										{% endfor %}
									</div>
								</div>
								<h6 class="pc__title">
									<a href="{{item.lang_content.prefix}}">{{item.lang_content.title}}</a>
								</h6>

								<div class="product-card__price d-flex">
									<span class="money price price-sale">
										{{app.currency.symbol}}{{app.currency_amount(item.price)}}</span>
									{% if item.old_price > 0 %}
										<span class="money price price-old px-2">
											{{app.currency.symbol}}{{app.currency_amount(item.old_price)}}</span>
									{% endif %}
								</div>
							</div>
						</div> #}



        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="product-card-wrapper">
            <div class="product-card product-card_style6 hover-container mb-3">
              <div class="pc__img-wrapper">
                <a href="./product1_simple.html">
                  <img loading="lazy" src="{{item.picture}}" width="330" height="400" alt="{{item.lang_content.title}}" class="pc__img">
                </a>
              </div>

              <div class="pc__info position-relative bg-body">
                <div class="position-relative">
                
                {% set rate = item.rate() %}
                <div class="flex gap-2 w-full">
                    {% if item.reviews|length %}
                        <div class="stars">
                            {% for i in [0,1,2,3,4] %}
                                <i class="la la-star {{rate > i ? 'text-yellow-400' : 'opacity-10'}}"></i>
                            {% endfor %}
                        </div>
                        <span class="num">
                            ({{item.reviews|length}})
                        </span>
                    {% endif %}
                </div>
                  <h6 class="pc__title fs-base fw-semi-bold mb-1"><a href="./product1_simple.html">{{item.lang_content.title}}</a></h6>
                  <div class="product-card__price d-flex mb-1">
                    <span class="money price fs-base fw-semi-bold">$62</span>
                  </div>

                  <div class="d-flex align-items-center hover__content position-relative mt-3 mt-sm-0">
                    <a  x-on:click="setTimeout(function() {submitForm('form-sidecart', 'sidecart-items')}, 10)" href="/front_api/create?type=Cart.create&params[item_id]={{item.product_id}}&params[qty]=1"  class="ajax-link btn-link btn-link_lg me-auto me-xxl-4 text-uppercase js-add-cart js-open-aside fs-13 fw-semi-bold" data-aside="cartDrawer" title="Add To Cart">Add To Cart</a>
                    <button class="btn-link btn-link_lg me-3 me-xxl-auto text-uppercase js-quick-view fs-13 fw-semi-bold" data-bs-toggle="modal" data-bs-target="#quickView" title="Quick view">
                      <span class="d-none d-xxl-block">Quick View</span>
                      <span class="d-block d-xxl-none"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_view" /></svg></span>
                    </button>
                    <button class="pc__btn-wl bg-transparent border-0 js-add-wishlist pt-1" title="Add To Wishlist">
                      <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>