

            <div  class=" text-primary  w-full  rounded-2xl bg-white dark:bg-gray-900  p-8" x-data="{media_id:'{{item.media_id}}', chapters: {{item.files ?? [] }}, title: '{{item.name}}' }">
                <div class=" text-primary"><h4 class="text-xl dark:text-gray-400">{{lang.translate( model_type ~ ' picture')}} </h4></div>
                <hr class="opacity-30 my-4" />
                <form action="/front_api/update" method="post" enctype="multipart/form-data" id="upload-step" class="ajax-form w-full  pb-10">

                    <div class="loader absolute w-full h-full left-0 top-0 bg-white dark:bg-gray-900 opacity-50 "></div>
                
                    <input type="hidden" name="params[media_id]" x-model="{{item.media_id}}" />
                    <input type="hidden" name="type" value="Audiobook.update_chapters" />
                    
                    <div class="flex gap-4 text-primary mt-6"><h4 class="text-xl dark:text-gray-400" >{{lang.translate('Chapters list')}}</h4> </div>
                    <hr class="opacity-30 my-2" />
                    <template x-for="chapter in chapters">
    
                        <template x-if="chapter">
                            <div class="flex gap-10 pb-6 relative" :id="'upload-media-form'+chapter.media_file_id">
                                <input type="hidden" name="params[chapters][media_file_id][]" x-model="chapter.media_file_id" />
                                <input type="hidden" name="params[chapters][path][]" x-model="chapter.path" />

                                <label  class="cursor-pointer py-4 px-2 dark:bg-gray-800  bg-gray-200 rounded-3xl w-40 border border-1 border-dashed	border-orange-600">
                                    <img id="" src="/src/front_assets/svg/music-tone.svg" class="dark:opacity-30" />
                                    {# <input :id="'imageInput'+chapter.media_file_id" type="file" name="file[]" class="hidden" /> #}
                                </label>  
                                <div class="grid-cols-2 grid gap-10">
                                    <div class="text-primary w-full block">
                                        <p class="text-lg py-2">{{lang.translate('Chapter name')}} </p>
                                        <input name="params[chapters][title][]" placeholder="{{lang.translate('Chapter Name')}} *" x-model="chapter.title" value="{{chapter.title}}" class=" dark:bg-gray-900 dark:border-gray-700 py-2 px-4 w-full rounded-2xl bg-gray-100 border focus:outline-none focus:border-orange-300  border-gray-200 w-full"  />
                                        <span x-on:click="chapter = null" class="py-4 block flex gap-2"><img class="w-6 p-1" src="/src/front_assets/svg/delete.svg" /> {{lang.translate('Remove')}}</span>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                    <span  class=" dark:text-gray-400 float-left inline-block px-6 py-2 rounded-2xl border transition hover:border-orange-600 border-orange-300" x-on:click="jQuery('#upload-file-popup').removeClass('hidden'), jQuery('#upload-file-media').val('{{item.media_id}}')">{{lang.translate('Add chapter')}}</span>

                    <button class=" dark:text-gray-400 float-right inline-block px-6 py-2 rounded-2xl border transition hover:border-orange-600 border-orange-300">{{lang.translate('Next')}}</button>
                    
                </form>
                {% include 'views/front/'~ template ~'/popups/upload-file.html.twig' %}
            </div>
