          
            <div id="main-side" class=" flex" x-data="{}">
                <div class="w-1"></div>
                {% set customer = app.customer_auth() %}
                <div class="py-4 lg:px-0 px-1 w-56 sidebar lg:relative fixed left-0 z-10 top-0 overflow-hidden h-full">
                    <div class="w-full flex gap-4 text-primary">
                        <img src="/src/front_assets/svg/soundcloud.svg" />
                        <span class="p-1 dark:text-orange-500 "> {{app.SystemSetting.sitename}}</span>
                    </div>
                    <hr class="lg:block hidden my-4  opacity-30" />
                    <div class="lg:block hidden pt-2 px-1 text-slate-400 text-opacity-70  text-base font-normal tracking-wide">{{lang.translate('MENU')}}</div>
                    <ul class="pt-2 font-normal ">
                        <li class="w-full   " id="home">
                            <a href="/" {{lang.translate('Home')}} class="w-full flex gap gap-4 ajax-load ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/home.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/home-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50">{{lang.translate('Home')}}</span>
                            </a>
                        </li>

                        <li class="w-full   " id="discover">
                            <a  title="{{lang.translate('Discover')}}" href="/discover" class="w-full flex gap gap-4 ajax-load ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/cloud-bolt.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/cloud-bolt-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Discover')}}</span>
                            </a>
                        </li>


                        <li class="w-full   " id="discover_audiobooks">
                            <a  title="{{lang.translate('Discover')}}" href="/discover/audiobook" class="w-full flex gap gap-4 ajax-load ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/audiobook-tab.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/audiobook-tab-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Audiobooks')}}</span>
                            </a>
                        </li>


                        <li class="w-full   " id="playlists">
                            <a title="{{lang.translate('Playlists')}}" href="/playlists" class="w-full flex gap gap-4  ajax-load">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/playlist.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/playlist-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Playlists')}}</span>
                            </a>
                        </li>
                        
                        {% if customer.customer_id %}
                        <li class="w-full   " id="likes">
                            <a title="{{lang.translate('Playlists')}}" href="/likes" class="w-full flex gap gap-4   ajax-load ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/heart.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/heart-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Likes')}}</span>
                            </a>
                        </li>
                        {% endif %}

                        <li class="w-full   " id="artist">
                            <a title="{{lang.translate('Artists')}}" href="/channels" class="w-full flex gap gap-4  ajax-load  ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/heart.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/heart-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Artists')}}</span>
                            </a>
                        </li>

                        <li class="w-full   " id="genres">
                            <a title="{{lang.translate('genres')}}" href="/genres" class="w-full flex gap gap-4  ajax-load  ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/audio-tab.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/audio-tab-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Genres')}}</span>
                            </a>
                        </li>
                        
                        {% if customer.customer_id %}

                        <li class="w-full   ">
                            <a title="{{lang.translate('Notifications')}}" href="#!" class="w-full flex gap gap-4 ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/notification.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/notification-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Notifications')}}</span>
                            </a>
                        </li>
                        <li><hr class="my-2" /></li>
                        <li class="w-full " id="upload">
                            <a href="/upload" title="{{lang.translate('Upload')}}"  class="w-full flex gap gap-4  ajax-load  ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/notification.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/notification-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Upload')}}</span>
                            </a>
                        </li>
                        <li class="w-full " id="uploadaudiobook">
                            <a href="/upload/audiobook" title="{{lang.translate('Upload Audiobook')}}"  class="w-full flex gap gap-4  ajax-load  ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/notification.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/notification-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Upload Audiobook')}}</span>
                            </a>
                        </li>

                        <li class="w-full " id="create-playlist">
                            <a title="{{lang.translate('Create Playlists')}}" href="#!" x-on:click="jQuery('#create-playlist-popup').removeClass('hidden')" class="w-full flex gap gap-4   ">
                                <span class="min-w-8  text-center relative my-2">
                                    <img src="/src/front_assets/svg/notification.svg" class="absolute top-2 left-0 right-0 mx-auto" width="18" />
                                    <img src="/src/front_assets/svg/notification-active.svg" class="active-icon absolute top-2 left-0 right-0 mx-auto"
                                        width="18" />
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Create playlist')}}</span>
                            </a>
                        </li>

                        <li class="w-full " id="logout">
                            <a title="{{lang.translate('Logout')}}" href="/logout"class="w-full flex gap gap-4   ">
                                <span class="min-w-8  text-center relative my-2">
                                </span> <span class="py-2 block dark:text-gray-400 my-1 border-r w-full dark:border-gray-700 border-gray-50 ">{{lang.translate('Logout')}}</span>
                            </a>
                        </li>
                        {% endif %}

                    </ul>

                </div>
            </div>
