                <div class="px-2 w-full flex my-2 gap-4" x-data="{}">
                    <div class="w-full text-gray-400">
                        <h2 class="text-xl    py-2">{{title ?? app.SystemSetting.sitename}}</h2>
                    </div>
                    <a href="/search/audio" class="ajax-load w-8 py-4" >
                        <img src="/src/front_assets/svg/search.svg" class="" width="14" />
                    </a>

                    {% if app.customer %}
                    <a href="#" class="w-8 py-4">
                        <img src="/src/front_assets/svg/notification.svg" class="" width="18" />
                    </a>
                    <div class="min-w-56 w-auto justify-start items-center inline-flex">
                        <a href="/studio" class="ajax-load justify-start items-center gap-4 flex">
                            <img class="relative rounded-full w-8 h-8" src="/stream?thumbnail=50&image={{app.customer.picture_name}}" />
                            <div class="text-primary flex-col justify-start items-start  inline-flex">
                                <span class="text-slate-400 text-opacity-70 text-xs font-normal ">{{lang.translate('Welcome')}}</span>
                                <div class="dark:text-orange-300 text-base font-normal">{{app.customer_auth.name}}</div>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <span x-on:click="jQuery('#login-popup').removeClass('hidden')" class="transition hover:opacity-60 cursor-pointer dark:text-white flex p-2 transition"><span class="dark:text-wynk-heading_light1 hidden lg:block"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 15C15.3137 15 18 12.3137 18 9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9C6 12.3137 8.68629 15 12 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.90625 20.2508C3.82775 18.6544 5.15328 17.3287 6.74958 16.407C8.34588 15.4853 10.1567 15 12 15C13.8433 15 15.6541 15.4853 17.2504 16.407C18.8467 17.3287 20.1722 18.6544 21.0938 20.2508" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></span><div class="hidden lg:block ml-2 font-light dark:text-wynk-heading_light1">{{lang.translate('Login')}}</div></span>
                    {% endif %}
                </div>
