<div class="w-full p-4 lg:p-8 bg-white dark:bg-gray-900 text-primary">

                        <h2 class="text-2xl font-normal dark:text-gray-400">{{lang.translate('Explore trends')}}</h2>
                        <hr class=" dark:opacity-30 my-2" />
                        
                        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-2 gap gap-4">
                            {% for media_item in explore_items.items %}
                            <div class="lg:mx-0 mx-auto  dark:text-gray-400  hover:text-orange-500 lg:w-full  relative p-2 py-3 rounded-2xl">
                                <img class="lg:mx-0 mx-auto rounded-2xl shadow hover:shadow-lg  hover:shadow-lg" src="/app/image.php?w=160&h=110&src={{media_item.picture}}" />
                                <div class="  gap-1 flex py-4 min-w-40">
                                    <div class="slide__audio js-audio pt-7">
                                        <audio class="slide__audio-player" controls data-id="{{media_item.media_id}}" >
                                            <source src="{{media_item.main_file.path}}" type="audio/mpeg" />
                                        </audio>
                                        <div class="audio__controls">
                                            <svg version="1.1" id="circle" width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                                <path id="seekbar" fill="none" stroke-meterlimit="10" d="M50,2.9L50,2.9C76,2.9,97.1,24,97.1,50v0C97.1,76,76,97.1,50,97.1h0C24,97.1,2.9,76,2.9,50v0C2.9,24,24,2.9,50,2.9z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="equalizer" viewBox="0 0 100 100">
                                                <g class="equalizer-group">
                                                    <rect class="bar"></rect>
                                                    <rect class="bar"></rect>
                                                    <rect class="bar"></rect>
                                                    <rect class="bar"></rect>
                                                    <rect class="bar"></rect>
                                                </g>
                                            </svg>
                                            <div class="audio__slider"></div>
                                            <span class="play-pause"></span>
                                        </div>
                                    </div>
                                    <div class="w-full px-1 relative p-1 truncate"> 
                                        <a href="track.html" class="relative text-opacity-75 text-sm tracking-tight font-semibold ">{{media_item.name}} </a>
                                        <a href="artist.html" class="block relative text-gray-500 text-opacity-75 text-sm  tracking-tight">{{media_item.author.name}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>