<div class="w-full p-4 lg:p-8 bg-white dark:bg-gray-900 text-primary">

                        <h2 class="text-2xl font-normal dark:text-gray-400">{{lang.translate('Explore trends')}}</h2>
                        <hr class=" dark:opacity-30 my-2" />
                        
                        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-2 gap gap-4">
                            {% for media_item in explore_items.items %}
                            <div class="lg:mx-0 mx-auto  dark:text-gray-400  hover:text-orange-500 lg:w-full  relative p-2 py-3 rounded-2xl">
                                <img class="lg:mx-0 mx-auto rounded-2xl shadow hover:shadow-lg  hover:shadow-lg" src="/app/image.php?w=160&h=110&src={{media_item.picture}}" />
                                <div class="  gap-1 flex py-4 min-w-40">
                                    <div class="slide__audio js-audio start-player">
                                        <div class="slide__audio-player" data-path="{{media_item.main_file.path}}" data-id="{{media_item.media_id}}" >
                                        </div>
                                        {% include 'views/front/'~ app.SystemSetting.template ~ '/includes/player-circle.html.twig' %}
                                    </div>
                                    <div class="w-full px-1 relative p-1 truncate"> 
                                        <a href="media/{{media_item.media_id}}" class="relative text-opacity-75 text-sm tracking-tight font-semibold ">{{media_item.name}} </a>
                                        <a href="artist.html" class="block relative text-gray-500 text-opacity-75 text-sm  tracking-tight">{{media_item.author.name}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>