
                                        <li class="relative" >
                                            <div class="py-1 gap-4 flex text-primary transition px-2" >
                                                
                                                <div class="slide__audio js-audio start-player" id="media-{{audiobook.media_id}}" data-list="{{audiobook.files|json_encode}}" data-index="{{loop.index - 1}}">
                                                    <div class="slide__audio-player"  data-title="{{file.title}}" data-poster="/stream?thumbnail=300&image={{audiobook.picture_name}}" data-artist="{{audiobook.artist.name}}" data-path="/stream_audio?audio={{audiobook.main_file.filename}}" data-id="{{audiobook.media_id}}" >
                                                    </div>
                                                    {% include 'views/front/'~ app.SystemSetting.template ~ '/includes/player-circle.html.twig' %}
                                                </div>
                                                <div class="w-full hover:text-orange-500 max-w-[90%] pt-1">
                                                    <a href="/audiobook/{{audiobook.media_id}}"  class="ajax-load block truncate max-w-96 text-lg font-semibold transition hover:text-orange-500  dark:text-gray-400 text-left">{{file.title}}</a>
                                                </div>
                                                
                                                
                                            </div>
                                            
                                        </li>
                                                