
                                <div :class="is_slide" class="  dark:text-gray-300 transition hover:text-orange-500 w-48  relative p-2 shadow-md transition hover:shadow-lg py-3 rounded-2xl">
                                    <a href="/genre/{{genre.lang_content.prefix}}" title="{{genre.lang_content.title}}" class="ajax-load "><img class=" rounded-2xl shadow mx-auto " src="/stream?thumbnail=300&image={{genre.picture_name}}" /></a>
                                    <a href="/genre/{{genre.lang_content.prefix}}" title="{{genre.lang_content.title}}" class="ajax-load lg:text-base text-xs block px-1 lg:font-semibold  pt-4 pb-1 dark:hover:text-orange-400 hover:text-orange-400">{{genre.name}}</a>
                                </div>

