                        <div class=" w-full  relative h-64 overflow-hidden rounded-2xl mb-10 border border-gray-200">
                            {% set a = item.findMediaByTime(item.station_id, "now"|date("H:i:s") ) %}
                            {{a}}
                            <div class=" w-full  gradient-top-overlay">
                                <img style="z-index:0" src="/stream?thumbnail=1000&image={{item.items[0].media.picture_name}}" class="w-full  shadow-xl absolute top-0 left-0 "/>
                            </div>
                            <div class=" w-full h-96 absolute bottom-0 left-0 gradient-top-overlay" style="z-index:0; "></div>
                            <div class="z-30 absolute bottom-10 left-20  z-10 w-2/3 text-gray-100 dark:text-gray-400">
                                <a class="lg:text-6xl text-lg text-white ajax-load" href="/station/{{item.station_id}}">{{item.name}}</a>

                                <div class=" float-right mt-6">
                                    <a href="/station/{{item.station_id}}"  class="ajax-load hover:border-orange-300 hover:text-orange-300 border border-4 border-white rounded-full py-2 px-6">
                                        <span>{{lang.translate('Stream')}}</span>
                                    </a>
                                </div>

                                <div class="w-full flex gap-4 pt-6">
                                    <div class="flex gap-4 pt-6">
                                        <span class="text-sm text-gray-100">{{lang.translate('Likes')}} : {{item.likes|length}} </span>
                                        <span class="text-sm text-gray-100">{{lang.translate('Plays')}} : {{item.views|length}} </span>
                                        <span class="text-sm text-gray-100">{{lang.translate('Items')}} : {{item.items|length}} </span>
                                    </div>
                                </div>

                            </div>

                        </div>