
                                        <li class="">
                                            <div class="py-1 gap-4 flex text-primary hover:text-orange-500">
                                                
                                                <img src="{{media_item.picture}}" width="48" height="48" class="rounded-lg" />
                                                <div class="slide__audio js-audio">
                                                    <audio class="slide__audio-player" controls data-id="{{media_item.media_id}}" data-wave-id="wave-{{media_item.media_id}}" data-wave-container="wave-container{{media_item.media_id}}">
                                                        <source src="{{media_item.main_file.path}}" type="audio/mpeg"/>
                                                    </audio>
                                                    {% include 'views/front/'~ app.SystemSetting.template ~ '/includes/player-circle.html.twig' %}
                                                </div>
                                                <div class="w-full">
                                                    <a href="/media/edit/{{media_item.media_id}}"  class="block truncate max-w-96 text-lg font-semibold hover:text-orange-500  dark:text-gray-400">{{media_item.name}}</a>
                                                    <span class="text-gray-400 text-sm">{{media_item.author.name}}</span>
                                                </div>
                                                <a href="#"  class="w-6 py-2 mx-2">
                                                    <img src="/src/front_assets/svg/heart.svg" />
                                                </a>
                                                <div class="p-1 text-gray-500" x-text="convertToTime({{media_item.field.duration}})"></div>
                                            </div>
                                            
                                            <div class="relative h-28 w-full hidden wave-frame" > 
                                                <div id="wave-{{media_item.media_id}}"  class="absolute w-full h-full top-0 right-0  opacity-50 bg-white z-50"> </div>
                                                <img id="wave-container{{media_item.media_id}}" class="w-full left-0 top-0 bottom-0 my-auto absolute" src="/stream?thumbnail=100&image={{media_item.main_file.wave}}" />
                                            </div>
                                        </li>
                                                