                            
                            <div class="max-w-46 lg:mx-0 mx-auto  dark:text-gray-400  hover:text-orange-500 lg:w-full  relative p-2 py-3 rounded-2xl">
                                <img class="lg:mx-0 mx-auto rounded-2xl shadow hover:shadow-lg  hover:shadow-lg" src="/stream?thumbnail=300&image={{media_item.picture}}" />
                                <div class="  gap-1 flex py-4 min-w-40">
                                    <div class="slide__audio js-audio start-player">
                                        <div class="slide__audio-player" data-path="{{media_item.main_file.path}}" data-id="{{media_item.media_id}}" >
                                        </div>
                                        {% include 'views/front/'~ app.SystemSetting.template ~ '/includes/player-circle.html.twig' %}
                                    </div>
                                    <div class="w-full px-1 relative p-1 truncate"> 
                                        <a href="/track/{{media_item.media_id}}" class="relative text-opacity-75 text-sm tracking-tight font-semibold ">{{media_item.name}} </a>
                                        <a href="artist.html" class="block relative text-gray-500 text-opacity-75 text-sm  tracking-tight">{{media_item.author.name}}</a>
                                    </div>
                                </div>
                            </div>