

                <!-- footer -->
                <footer class="mil-footer-1 mil-light-trigger">
                    <div class="mil-image-frame"><noscript><img
                                src="/uploads/img/hero-1.jpg" alt=""
                                class="mil-scale-img" data-value-1="1" data-value-2="1.2"
                                style="filter: grayscale(100%)" /></noscript><img
                            src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E'
                            data-src="/uploads/img/hero-1.jpg" alt=""
                            class="lazyload mil-scale-img" data-value-1="1" data-value-2="1.2"
                            style="filter: grayscale(100%)" />
                        <div class="mil-overay"></div>
                    </div>
                    
                    <div data-elementor-type="wp-post" data-elementor-id="154" class="elementor elementor-154">
                        <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-2b118d3 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                            data-id="2b118d3" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a03f994"
                                    data-id="a03f994" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <section
                                            class="elementor-section elementor-inner-section elementor-element elementor-element-bc4ff52 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                            data-id="bc4ff52" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-4846f30"
                                                    data-id="4846f30" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-ec39ea2 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="ec39ea2" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-6923943"
                                                                    data-id="6923943" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-d2681ce elementor-widget elementor-widget-heading"
                                                                            data-id="d2681ce" data-element_type="widget"
                                                                            data-widget_type="heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <style>
                                                                                    /*! elementor - v3.23.0 - 15-07-2024 */
                                                                                    .elementor-heading-title {
                                                                                        padding: 0;
                                                                                        margin: 0;
                                                                                        line-height: 1
                                                                                    }

                                                                                    .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                                                                        color: inherit;
                                                                                        font-size: inherit;
                                                                                        line-height: inherit
                                                                                    }

                                                                                    .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                                                                        font-size: 15px
                                                                                    }

                                                                                    .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                                                                        font-size: 19px
                                                                                    }

                                                                                    .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                                                                        font-size: 29px
                                                                                    }

                                                                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                                                                        font-size: 39px
                                                                                    }

                                                                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                                                                        font-size: 59px
                                                                                    }
                                                                                </style>
                                                                                <h4
                                                                                    class="elementor-heading-title elementor-size-default">
                                                                                    It’s
                                                                                    Time
                                                                                    to
                                                                                    Pull
                                                                                    in <br> a <span class="mil-accent">Professional</span>
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-fe39932 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="fe39932" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-e3dbddb"
                                                                    data-id="e3dbddb" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-1f933d0 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                                            data-id="1f933d0" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container" style=" color: #eee; ">
                                                                                 We specialize in taking your business to new heights with our comprehensive exhibitions services and digital marketing solutions.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-54bd414"
                                                    data-id="54bd414" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-e1157fb elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="e1157fb" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-c4d0ab3"
                                                                    data-id="c4d0ab3" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-069c42e elementor-widget elementor-widget-heading"
                                                                            data-id="069c42e" data-element_type="widget"
                                                                            data-widget_type="heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <p
                                                                                    class="elementor-heading-title elementor-size-default">
                                                                                    Menu
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-a833c61 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="a833c61" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-501a82e"
                                                                    data-id="501a82e" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-75c1532 elementor-widget elementor-widget-lettery-footer-links"
                                                                            data-id="75c1532" data-element_type="widget"
                                                                            data-widget_type="lettery-footer-links.default">
                                                                            <div class="elementor-widget-container">
                                                                                <!--
                                                                                                                                menu
                                                                                                                                list
                                                                                                                                -->
                                                                                <ul>
																					{% for menu in app.front_menu('footer1') %}
                                                                                    <li><a href="/{{menu.page.lang_content.prefix}}"
                                                                                            class="mil-link mil-link-hover mil-softened-50 mil-light mil-mb-15"><span>{{menu.page.lang_content.title}}</span></a>
                                                                                    </li>
																					{% endfor %}

                                                                                </ul>
                                                                                <!--
                                                                                                                                    menu
                                                                                                                                    list
                                                                                                                                    end
                                                                                                                                    -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f59c81e"
                                                    data-id="f59c81e" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-ea81552 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="ea81552" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-bb76a16"
                                                                    data-id="bb76a16" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-9fd2a99 elementor-widget elementor-widget-heading"
                                                                            data-id="9fd2a99" data-element_type="widget"
                                                                            data-widget_type="heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <p
                                                                                    class="elementor-heading-title elementor-size-default">
                                                                                    Useful links
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-c75ac73 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="c75ac73" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4f40669"
                                                                    data-id="4f40669" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-1dd2389 elementor-widget elementor-widget-lettery-footer-links"
                                                                            data-id="1dd2389" data-element_type="widget"
                                                                            data-widget_type="lettery-footer-links.default">
                                                                            <div class="elementor-widget-container">
                                                                                <ul>
																					{% for menu in app.front_menu('footer2') %}
                                                                                    <li><a href="/{{menu.page.lang_content.prefix}}"
                                                                                            class="mil-link mil-link-hover mil-softened-50 mil-light mil-mb-15"><span>{{menu.page.lang_content.title}}</span></a>
                                                                                    </li>
																					{% endfor %}
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-232b78d"
                                                    data-id="232b78d" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-9550bb6 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="9550bb6" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-8985d0e"
                                                                    data-id="8985d0e" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-fe5075c elementor-widget elementor-widget-heading"
                                                                            data-id="fe5075c" data-element_type="widget"
                                                                            data-widget_type="heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <h6
                                                                                    class="elementor-heading-title elementor-size-default">
                                                                                    Contact
                                                                                    Us
                                                                                </h6>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-8b57d2f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="8b57d2f" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0512490"
                                                                    data-id="0512490" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-417ec99 elementor-widget elementor-widget-lettery-footer-single-link"
                                                                            data-id="417ec99" data-element_type="widget"
                                                                            data-widget_type="lettery-footer-single-link.default">
                                                                            <div class="elementor-widget-container">
                                                                                <a href="mailto:{{app.SystemSetting.footer_email}}"
                                                                                    class="mil-link mil-link-hover mil-accent mil-hidden-trigger mil-mb-30"><span>{{app.SystemSetting.footer_email}}
                                                                                    </span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-dc1f88c elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="dc1f88c" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-d2aae5b"
                                                                    data-id="d2aae5b" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-61e2e8c elementor-widget elementor-widget-text-editor"
                                                                            data-id="61e2e8c" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <p>{{app.SystemSetting.footer_phone}} </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-518675c elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                            data-id="518675c" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-no">
                                                                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-80cabb6"
                                                                    data-id="80cabb6" data-element_type="column">
                                                                    <div
                                                                        class="elementor-widget-wrap elementor-element-populated">
                                                                        <div class="elementor-element elementor-element-9c9bc02 elementor-widget elementor-widget-lettery-footer-social-links"
                                                                            data-id="9c9bc02" data-element_type="widget"
                                                                            data-widget_type="lettery-footer-social-links.default">
                                                                            <div class="elementor-widget-container">
                                                                                
																				<ul class="mil-social mil-hidden-trigger">
																					<li> <a target="_blank" href="{{app.SystemSetting.facebook_link}}" title="Facebook">
																							<i class="fab fa-facebook"></i> </a></li>
																					<li> <a target="_blank" href="{{app.SystemSetting.instagram_link}}" title="Instagram">
																							<i class="fab fa-instagram"></i> </a></li>
																					<li> <a target="_blank" href="{{app.SystemSetting.linkedin_link}}" title="Linked in">
																							<i class="fab fa-linkedin"></i> </a></li>
																					<li> <a target="_blank" href="{{app.SystemSetting.twitter_link}}" title="Twitter"> <i
																								class="fab fa-twitter"></i> </a></li>
																					<li> <a target="_blank" href="{{app.SystemSetting.behance_link}}" title="Behance"> <i
																								class="fab fa-behance"></i> </a></li>
																				</ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section
                                            class="elementor-section elementor-inner-section elementor-element elementor-element-a897c19 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                            data-id="a897c19" data-element_type="section"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9b00228"
                                                    data-id="9b00228" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <div class="elementor-element elementor-element-3d9075a elementor-widget elementor-widget-text-editor"
                                                            data-id="3d9075a" data-element_type="widget"
                                                            data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <p>© {{now|date('Y')}}
                                                                    {{app.SystemSetting.sitename}}.
                                                                    All Rights Reserved.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-407e04e"
                                                    data-id="407e04e" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <div class="elementor-element elementor-element-463ca72 elementor-widget elementor-widget-text-editor"
                                                            data-id="463ca72" data-element_type="widget"
                                                            data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </footer>
                <!-- footer end -->




    <script type='text/javascript'>const lazyloadRunObserver = () => {
		const lazyloadBackgrounds = document.querySelectorAll(`.e-con.e-parent:not(.e-lazyloaded)`); const lazyloadBackgroundObserver = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					let lazyloadBackground = entry.target; if (lazyloadBackground) { lazyloadBackground.classList.add('e-lazyloaded'); }
					lazyloadBackgroundObserver.unobserve(entry.target);
				}
			});
			}, { rootMargin: '200px 0px 200px 0px' }); lazyloadBackgrounds.forEach((lazyloadBackground) => { lazyloadBackgroundObserver.observe(lazyloadBackground); });
		}; 
		const events = ['DOMContentLoaded', 'elementor/lazyload/observe',]; events.forEach((event) => { document.addEventListener(event, lazyloadRunObserver); });
	</script>
    <noscript>
        <style>
            .lazyload {
                display: none
            }
        </style>
    </noscript>
    
    <style id='elementor-frontend-inline-css' type='text/css'>
        section  .elementor-container {
        }

        .elementor-138 .elementor-element.elementor-element-3efb8a8>.elementor-container>.elementor-column>.elementor-widget-wrap {
            align-content: center;
            align-items: center
        }

        .elementor-138 .elementor-element.elementor-element-de23316 .mil-logo {
            justify-content: left
        }

        .elementor-138 .elementor-element.elementor-element-57b9be9.elementor-column>.elementor-widget-wrap {
            justify-content: flex-end
        }

        @media(max-width:767px) {
            .elementor-138 .elementor-element.elementor-element-0fdaa93 {
                width: 60%
            }

            .elementor-138 .elementor-element.elementor-element-57b9be9 {
                width: 40%
            }
        }

        @media(min-width:768px) {
            .elementor-138 .elementor-element.elementor-element-0fdaa93 {
                width: 27%
            }

            .elementor-138 .elementor-element.elementor-element-57b9be9 {
                width: 73%
            }
        }

        .elementor-154 .elementor-element.elementor-element-bc4ff52>.elementor-container {
            max-width: 1350px
        }

        .elementor-154 .elementor-element.elementor-element-bc4ff52 {
            margin-top: 0;
            margin-bottom: 0;
            padding: 110px 0 80px
        }

        .elementor-154 .elementor-element.elementor-element-d2681ce .elementor-heading-title {
            color: #fff
        }

        .elementor-154 .elementor-element.elementor-element-d2681ce>.elementor-widget-container {
            margin: 0 0 30px
        }

        .elementor-154 .elementor-element.elementor-element-1f933d0 {
            width: initial;
            max-width: initial
        }

        .elementor-154 .elementor-element.elementor-element-54bd414>.elementor-element-populated {
            margin: 0 0 0 25%;
            --e-column-margin-right: 0%;
            --e-column-margin-left: 25%
        }

        .elementor-154 .elementor-element.elementor-element-069c42e .elementor-heading-title {
            color: #fff
        }

        .elementor-154 .elementor-element.elementor-element-069c42e>.elementor-widget-container {
            margin: 0 0 30px
        }

        .elementor-154 .elementor-element.elementor-element-9fd2a99 .elementor-heading-title {
            color: #fff
        }

        .elementor-154 .elementor-element.elementor-element-9fd2a99>.elementor-widget-container {
            margin: 0 0 30px
        }

        .elementor-154 .elementor-element.elementor-element-fe5075c .elementor-heading-title {
            color: #fff
        }

        .elementor-154 .elementor-element.elementor-element-fe5075c>.elementor-widget-container {
            margin: 0 0 30px
        }

        .elementor-154 .elementor-element.elementor-element-61e2e8c {
            color: #fff;
            font-size: 22px;
            font-weight: 600;
            line-height: 160%
        }

        .elementor-154 .elementor-element.elementor-element-61e2e8c>.elementor-widget-container {
            margin: 0 0 30px
        }

        .elementor-154 .elementor-element.elementor-element-9c9bc02 .mil-social {
            justify-content: left
        }

        .elementor-154 .elementor-element.elementor-element-9c9bc02 .mil-social li a {
            color: #fff
        }

        .elementor-154 .elementor-element.elementor-element-a897c19>.elementor-container {
            max-width: 1350px
        }

        .elementor-154 .elementor-element.elementor-element-a897c19:not(.elementor-motion-effects-element-type-background),
        .elementor-154 .elementor-element.elementor-element-a897c19>.elementor-motion-effects-container>.elementor-motion-effects-layer {
            background-color: #222d32
        }

        .elementor-154 .elementor-element.elementor-element-a897c19 {
            transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
            padding: 29px 0
        }

        .elementor-154 .elementor-element.elementor-element-a897c19>.elementor-background-overlay {
            transition: background .3s, border-radius .3s, opacity .3s
        }

        .elementor-154 .elementor-element.elementor-element-3d9075a {
            text-align: left;
            color: #7d8488;
            font-size: 14px;
            font-weight: 300;
            line-height: 160%
        }

        .elementor-154 .elementor-element.elementor-element-463ca72 {
            text-align: right;
            color: #7d8488;
            font-size: 14px;
            font-weight: 300;
            line-height: 160%
        }

        @media(max-width:1024px) {
            .elementor-154 .elementor-element.elementor-element-4846f30>.elementor-element-populated {
                margin: 0 0 30px;
                --e-column-margin-right: 0px;
                --e-column-margin-left: 0px
            }

            .elementor-154 .elementor-element.elementor-element-54bd414>.elementor-element-populated {
                margin: 0;
                --e-column-margin-right: 0%;
                --e-column-margin-left: 0%
            }
        }

        @media(min-width:768px) {
            .elementor-154 .elementor-element.elementor-element-4846f30 {
                width: 33%
            }

            .elementor-154 .elementor-element.elementor-element-54bd414 {
                width: 30%
            }

            .elementor-154 .elementor-element.elementor-element-f59c81e {
                width: 18.753%
            }

            .elementor-154 .elementor-element.elementor-element-232b78d {
                width: 18%
            }
        }

        @media(max-width:1024px) and (min-width:768px) {
            .elementor-154 .elementor-element.elementor-element-4846f30 {
                width: 100%
            }

            .elementor-154 .elementor-element.elementor-element-f59c81e {
                width: 30%
            }

            .elementor-154 .elementor-element.elementor-element-232b78d {
                width: 40%
            }
        }

        @media(max-width:767px) {
            .elementor-154 .elementor-element.elementor-element-bc4ff52 {
                padding: 50px 0 40px
            }

            .elementor-154 .elementor-element.elementor-element-a897c19 {
                padding: 20px 0
            }

            .elementor-154 .elementor-element.elementor-element-463ca72 {
                text-align: left
            }
        }

        .elementor-kit-9 {
            --e-global-color-primary: #6ec1e4;
            --e-global-color-secondary: #54595f;
            --e-global-color-text: #7a7a7a;
            --e-global-color-accent: #61ce70;
            --e-global-typography-primary-font-family: "Roboto";
            --e-global-typography-primary-font-weight: 600;
            --e-global-typography-secondary-font-family: "Roboto Slab";
            --e-global-typography-secondary-font-weight: 400;
            --e-global-typography-text-font-family: "Roboto";
            --e-global-typography-text-font-weight: 400;
            --e-global-typography-accent-font-family: "Roboto";
            --e-global-typography-accent-font-weight: 500
        }

        .elementor-section.elementor-section-boxed>.elementor-container {
            max-width: 1350px
        }

        .e-con {
            --container-max-width: 1140px
        }

        .elementor-widget:not(:last-child) {
            margin-block-end: 20px
        }

        .elementor-element {
            --widgets-spacing: 20px 20px
        }

            {}

        h1.entry-title {
            display: var(--page-title-display)
        }

        @media(max-width:1024px) {
            .elementor-section.elementor-section-boxed>.elementor-container {
                max-width: 1024px
            }

            .e-con {
                --container-max-width: 1024px
            }
        }

        @media(max-width:767px) {
            .elementor-section.elementor-section-boxed>.elementor-container {
                max-width: 767px
            }

            .e-con {
                --container-max-width: 767px
            }
        }
    </style>

    <script data-noptimize="1">window.lazySizesConfig = window.lazySizesConfig || {}; window.lazySizesConfig.loadMode = 1;</script>
    <script async data-noptimize="1" src='/src/front_assets/js/lazysizes.min.js'></script>
    <script type="text/javascript" src="/src/front_assets/js/script.js" id="bslthms-advanced-btns-script-js" defer></script>
    <script type="text/javascript" id="lettery-portfolio-infinite-scroll-el-js-extra">var ajax_portfolio_infinite_scroll_data = { "url": "/", "ajax_nonce": "d38ecb5aba", "max_num": "2", "page_id": "1303", "order_by": "date", "order": "desc", "per_page": "6", "source": "all", "cat_ids": "", "temp": "portfolio", "layout": "list", "columns": "col-lg-4" };</script>
    <script type="text/javascript" id="elementor-frontend-js-before">var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close", "a11yCarouselWrapperAriaLabel": "Carousel | Horizontal scrolling: Arrow Left & Right", "a11yCarouselPrevSlideMessage": "Previous slide", "a11yCarouselNextSlideMessage": "Next slide", "a11yCarouselFirstSlideMessage": "This is the first slide", "a11yCarouselLastSlideMessage": "This is the last slide", "a11yCarouselPaginationBulletMessage": "Go to slide" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile Portrait", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Landscape", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet Portrait", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Landscape", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.23.1", "is_static": false, "experimentalFeatures": { "e_optimized_css_loading": true, "additional_custom_breakpoints": true, "container_grid": true, "e_nested_atomic_repeaters": true, "e_onboarding": true, "home_screen": true, "ai-layout": true, "landing-pages": true, "e_lazyload": true }, "urls": { "assets": "/", "ajaxurl": "/" }, "nonces": { "floatingButtonsClickTracking": "75b4f516ac" }, "swiperClass": "swiper-container", "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 1303, "title": "Portfolio%204%20%E2%80%93%20Lettery", "excerpt": "", "featuredImage": false } };</script>
    <script defer src="/src/front_assets/js/sweetalert2.11.js" ></script>
	<script defer src="/src/front_assets/js/medians.js"></script>
    <script defer src="/src/front_assets/js/main.js"></script>
