                <div class="py-4 px-2 w-full">             

                    <div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-full px-3 mb-2 mt-2">
                                    <input  name="params[title]" class="search bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required />
                                </div>
                                <div class="w-full md:w-full flex items-start md:w-full px-3">
                                    <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                                    <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                    </div>
                                    <div class="-mr-1">
                                    <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='{{lang.translate('Post Comment')}}'>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="border-b border-gray-200 dark:border-gray-700">
                        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400 lg:w-2/3 mx-auto">
                            {% for menuitem in [
                                {title:  "All",link: "/search", icon: "audio-tab.svg"},
                                {title:  "Audio",link: "/search/audio", icon: "audio-tab.svg"},
                                {title: "Audio books",link: "/search/audiobook", icon: "audiobook-tab.svg"},
                                {title: "Playlists",link: "/search/playlist", icon: "playlist-tab.svg"},
                                {title: "Artists",link: "/search/artist", icon: "user-tab.svg"}
                            ] %}
                            <li class="me-2 mx-auto">
                            
                                <a href="{{menuitem.link}}?params[title]={{app.params.title}}" class="flex gap-2 items-center justify-center p-4 border-b-2 {{ menuitem.link == app.request.pathInfo ? "border-blue-600 text-primary active dark:text-blue-500 dark:border-blue-500" : "border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"}} rounded-t-lg  group text-lg">
                                    <img src="/src/front_assets/svg/{{menuitem.icon}}" class="w-6 h-6" />
                                    {{ lang.translate(menuitem.title)}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% include 'views/front/' ~ template ~ '/pages/search/'~ sub_layout ~'.html.twig' %}
                    
                </div>
