                        <div class=" w-full  relative h-64 overflow-hidden rounded-2xl mb-4 border border-gray-200 dark:border-gray-600">
                            {% set a = channel.findMediaByTime(channel.channel_id, "now"|date("H:i:s") ) %}
                            <div class=" w-full  gradient-top-overlay">
                                <img style="z-index:0" src="/stream?thumbnail=1000&image={{channel.picture_name}}" class="w-full  shadow-xl absolute top-0 left-0 "/>
                            </div>
                            <div class=" w-full h-96 absolute bottom-0 left-0 gradient-top-overlay" style="z-index:0; "></div>
                            <div class="z-30 absolute bottom-10 left-20  z-10 w-2/3 text-gray-100 dark:text-gray-300">
                                <a class="lg:text-4xl text-lg text-white ajax-load" href="/channel/{{channel.channel_id}}">{{channel.name}}</a>

                                <div class=" float-right mt-6">
                                    <a href="/channel/{{channel.channel_id}}"  class="ajax-load dark:border-gray-600 hover:border-rose-300 hover:text-rose-300 border border-4 border-white rounded-full py-2 px-6">
                                        <span>{{lang.translate('Stream')}}</span>
                                    </a>
                                </div>

                                <div class="w-full flex gap-4 pt-6">
                                    <div class="flex gap-4 pt-6 text-sm text-gray-100">
                                    
                                        {% set liked = channel.liked(customer.customer_id).count() %}
                                        <div class="text-sm text-gray-100 flex gap-">
                                            <a href="/front_api/create?type=Like.channel&params[item_id]={{channel.channel_id}}" data-params="{item_id: {{channel.channel_id}} }" class="ajax-link cursor-pointer mx-2 text-sm text-gray-100  flex">
                                                <img class="{{ liked == null ? 'hidden' : ''}} w-5" x-on:click="jQuery('#heart-channel-{{channel.channel_id}}').addClass('hidden'); jQuery('#unheart-channel-{{channel.channel_id}}').removeClass('hidden'); jQuery('#likes-count-{{channel.channel_id}}').text(parseInt(jQuery('#likes-count-{{channel.channel_id}}').text()) - 1);" id="heart-channel-{{channel.channel_id}}" src="/src/front_assets/svg/blank-heart.svg">
                                                <img class="{{ liked == null ? '' : 'hidden'}} w-5" x-on:click="jQuery('#unheart-channel-{{channel.channel_id}}').addClass('hidden'); jQuery('#heart-channel-{{channel.channel_id}}').removeClass('hidden'); jQuery('#likes-count-{{channel.channel_id}}').text(parseInt(jQuery('#likes-count-{{channel.channel_id}}').text()) + 1);" id="unheart-channel-{{channel.channel_id}}" src="/src/front_assets/svg/{{app.is_dark ? 'white-' : ''}}heart.svg">
                                            </a>
                                            <span id="likes-count-{{channel.channel_id}}">{{channel.likescount()}}</span>
                                        </div>
                                        
                                        <span class=" cursor-pointer text-sm text-gray-100 flex gap-2 ">
                                            <img class="w-5" src="/src/front_assets/svg/{{ app.is_dark ? 'views-white' : 'views'}}.svg" />
                                            <span id="views-count">{{channel.viewscount()}}</span>
                                        </span>
                                        <span class=" cursor-pointer text-sm text-gray-100 flex gap-2 ">
                                            <img class="w-5" src="/src/front_assets/svg/{{ app.is_dark ? 'comments-white' : 'comments'}}.svg" />
                                            <span id="comments-">{{channel.commentscount()}}</span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            {% if channel.activeItem.channel_media_id > 0 %}
                            <img src="/src/front_assets/svg/live.svg" class="absolute bottom-0 right-0 ml-20 w-20" />
                            {% endif  %}
                        </div>