
  <!-- Footer Type 2 -->
  <footer class="footer footer_type_2">
    <div class="footer-top container">
      <div class="block-newsletter">
        <h3 class="block__title">{{lang.translate('Sign up now and get our offers')}}</h3>
        <p>{{lang.translate('Be the first to get the latest news about trends, promotions, and much more')}}</p>
        <form id="footer-newsletter" action="/front_api/create" class="block-newsletter__form ajax-form">
          <input class="form-control" type="hidden" name="type" value="Subscriber.create">
          <input class="form-control" type="email" name="params[email]" placeholder="{{lang.translate('Your email address')}}">
          <button class="btn btn-secondary fw-medium" type="submit">{{lang.translate('JOIN')}}</button>
        </form>
      </div>
    </div><!-- /.footer-top container -->

    <div class="footer-middle container">
      <div class="row row-cols-lg-5 row-cols-2">
        <div class="footer-column footer-store-info col-12 mb-4 mb-lg-0">
          <div class="logo">
              <a href="{{app.CONF.url}}">
                <img src="{{app.SystemSetting.logo}}" alt="Uomo" class="logo__image d-block">
              </a>
          </div><!-- /.logo -->
          
          <p class="text-2xl fw-bold mt-2">{{app.SystemSetting.footer_address}}</p>
          <p class="text-md  my-2">
            <strong class="fw-medium">{{app.SystemSetting.footer_email}}</strong>
          </p>
          <p class="text-md my-2">
            <strong class="fw-medium">{{app.SystemSetting.footer_phone}}</strong>
          </p>
          {% include 'views/front/ecommerce/includes/social_icons.html.twig' %}

        <span class="block mt-10 footer-copyright me-auto">©{{now|date('Y')}} {{app.SystemSetting.sitename}}</span>

        </div><!-- /.footer-column -->

        <div class="footer-column footer-menu mb-4 mb-lg-0">
          <h6 class="sub-menu__title text-uppercase">{{lang.translate('Useful links')}}</h6>
          <ul class="sub-menu__list list-unstyled">
            {% set footer1Menu = app.front_menu('footer1') %}
            {% for menu in footer1Menu %}
            {% if menu.parent_id == 0 %}
            <li class="sub-menu__item">
                <a href="/{{menu.page.lang_content.prefix}}" class=" menu-link menu-link_us-s">{{menu.page.lang_content.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.footer-column -->

        <div class="footer-column footer-menu mb-4 mb-lg-0">
          <h6 class="sub-menu__title text-uppercase">{{lang.translate('Quick links')}}</h6>
          <ul class="sub-menu__list list-unstyled">
            {% set footer1Menu = app.front_menu('footer2') %}
            {% for menu in footer1Menu %}
            {% if menu.parent_id == 0 %}
            <li class="sub-menu__item">
                <a href="/{{menu.page.lang_content.prefix}}" class=" menu-link menu-link_us-s">{{menu.page.lang_content.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.footer-column -->

        <div class="footer-column mb-4 mb-lg-0">
          <h6 class="sub-menu__title text-uppercase">Opening Time</h6>
          <ul class="list-unstyled">
            <li><span class="menu-link">Mon - Fri: 8AM - 9PM</span></li>
            <li><span class="menu-link">Sat: 9AM - 8PM</span></li>
            <li><span class="menu-link">Sun: Closed</span></li>
          </ul>
        </div><!-- /.footer-column -->
      </div><!-- /.row-cols-5 -->
    </div><!-- /.footer-middle container -->

  </footer>

  <!-- Mobile Fixed Footer -->
  <footer class="footer-mobile container w-100 px-5 d-md-none bg-body">
    <div class="row text-center">
      <div class="col-4">
        <a href="/" class="footer-mobile__link d-flex flex-column align-items-center">
          <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_home" /></svg>
          <span>{{lang.translate('Home')}}</span>
        </a>
      </div><!-- /.col-3 -->

      <div class="col-4">
        <a href="/customer/login" class="footer-mobile__link d-flex flex-column align-items-center">
          <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_hanger" /></svg>
          <span>{{lang.translate('Account')}}</span>
        </a>
      </div><!-- /.col-3 -->

      <div class="col-4">
        <a href="/" class="footer-mobile__link d-flex flex-column align-items-center">
          <div class="position-relative">
            <svg class="d-block" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_cart" /></svg>
          </div>
          <span>{{lang.translate('Cart')}}</span>
        </a>
      </div><!-- /.col-3 -->
    </div><!-- /.row -->
  </footer><!-- /.footer-mobile container position-fixed d-md-none bottom-0 -->


  <!-- Customer Login Form -->
  <div class="aside aside_right overflow-hidden customer-forms" id="customerForms">
        <div class="aside-header d-flex align-items-center">
            <h3 class="text-uppercase fs-6 mb-0">{{lang.translate('Profile')}}  </h3>
            <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
        </div><!-- /.aside-header -->
    <div class="customer-forms__wrapper d-flex position-relative">

        {% if app.customer_auth.customer_id %}
        <div class="py-2">

            <div class="flex gap-6 main-info">
                    <div class="img">
                        <img src="{{app.customer_auth.picture ?? '/uploads/img/profile.png'}}" alt="" class="w-20 h-20 main-img img-cover">
                    </div>
                    <div>
                        <h4 class="text-xl pt-4">{{app.customer_auth.name}}</h4>
                        <p>{{app.customer_auth.email}}</p>
                    </div>
                </div>
            <ul class="navigation__list list-unstyled position-relative mt-10">
                <li class="navigation__item py-2"><a href="/customer/dashboard" class="navigation__link">{{lang.translate('Account')}}</a></li>
                <li class="navigation__item py-2"><a href="/customer/orders" class="navigation__link">{{lang.translate('Orders')}}</a></li>
                <li class="navigation__item py-2"><a href="/cart" class="navigation__link">{{lang.translate('Cart')}}</a></li>
                <li class="navigation__item py-2"><a href="/wishlist" class="navigation__link">{{lang.translate('Wishlist')}}</a></li>
                <li class="navigation__item py-2 js-show-register js-show-login"><a href="/logout" class="navigation__link">{{lang.translate('logout')}}</a></li>
            </ul>
        </div>
        {% else  %}

        <div class="customer__login">

            <form action="/customer/login" method="POST" id="side-login-form" class="ajax-form aside-content">
            <div class="form-floating mb-3">
                <input name="params[email]" type="email" class="form-control form-control_gray" id="customerNameEmailInput" placeholder="name@example.com">
                <label for="customerNameEmailInput">{{lang.translate('Email address')}} *</label>
            </div>

            <div class="pb-3"></div>

            <div class="form-label-fixed mb-3">
                <label for="customerPasswordInput" class="form-label">{{lang.translate('Password')}} *</label>
                <input name="params[password]" id="customerPasswordInput" class="form-control form-control_gray" type="password" placeholder="********">
            </div>

            <div class="d-flex align-items-center mb-3 pb-2">
                <div class="form-check mb-0">
                <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label text-secondary" for="flexCheckDefault">{{lang.translate('Remember me')}}</label>
                </div>
                <a href="/customer/reset_password" class="btn-text ms-auto">{{lang.translate('Lost password')}}?</a>
            </div>

            <button class="btn btn-primary bg-dark w-100 text-uppercase js-show-login" type="submit">{{lang.translate('Log In')}}</button>

            <div class="customer-option mt-4 text-center">
                <span class="text-secondary">{{lang.translate('No account yet')}}?</span>
                <a href="/customer/signup" class="btn-text js-show-register">{{lang.translate('Create Account')}}</a>
            </div>
            </form>
        </div><!-- /.customer__login -->
        {% endif  %}

    </div><!-- /.customer-forms__wrapper -->
  </div><!-- /.aside aside_right -->


  <!-- Cart Drawer -->
  <div class="aside aside_right overflow-hidden cart-drawer" id="cartDrawer">
    <div class="aside-header d-flex align-items-center">
      <h3 class="text-uppercase fs-6 mb-0">{{lang.translate('Cart')}}  </h3>
      <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
    </div><!-- /.aside-header -->

    <div class="aside-content cart-drawer-items-list">

        <form class="action ajax-form w-full" action="{{app.CONF.url}}cart/update" method="POST" id="sidecart-form">

            <div class="w-full" id="sidecart-items">
            </div><!-- /.aside-content -->

        </form>
        <form class="ajax-form" action="/front_api" method="POST" id="form-sidecart">
            <input type="hidden" value="load_side_cart" name="type"/>
        </form>
    </div>
  </div><!-- /.aside -->

  <!-- Sitemap -->
  <div class="modal fade" id="siteMap" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="sitemap d-flex">
        <div class="w-50 d-none d-lg-block">
          <img loading="lazy" src="{{app.SystemSetting.menu_picture}}" alt="Site map" class="sitemap__bg">
        </div><!-- /.sitemap__bg w-50 d-none d-lg-block -->
        <div class="sitemap__links flex-grow-1">
          <div class="modal-content">
            <div class="modal-header">
            
                    <div class="d-flex align-items-center py-2">
                        {% for lng in app.languages %}
                            <p>
                                <a class="text-right flex gap-2" href="/switch-lang/{{lng.language_code}}?redirect={{page.content_langs[lng.language_code].prefix ?? ''}}"><img class=" rounded-full p-1" width="36" src="{{lng.icon}}"/>
                                    <span class="pt-1">{{lng.name}}</span>
                                </a>
                            </p>
                        {% endfor %}
                    </div>

                    <div class="d-flex align-items-center gap-2 py-2">
                        {% for cur in app.currencies %}
                            <p>
                                <a class="text-right flex gap-2 {{cur.symbol == app.currency.symbol ? 'text-purple-500' : ''}} hover:text-purple-600" href="/switch-currency/{{cur.code}}">
                                    <span class="pt-1">{{cur.symbol}}</span>
                                    <span class="pt-1 text-gray-400">|</span>
                                    
                                </a> 
                            </p>
                        {% endfor %}
                    </div>
            </div>

            <div class="modal-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-item-1" role="tabpanel" aria-labelledby="pills-item-1-tab">
                  
                  <div class="footer-column w-full footer-store-info mb-4 mb-lg-0">
                      
                    <div class="logo">
                      <a href="{{app.CONF.url}}">
                        <img src="{{app.SystemSetting.logo}}" alt="Uomo" class="logo__image d-block">
                      </a>
                    </div><!-- /.logo -->
                    <p class="text-2xl fw-bold mt-2">{{app.SystemSetting.footer_address}}</p>
                    <p class="text-md  my-2">
                      <strong class="fw-medium">{{app.SystemSetting.footer_email}}</strong>
                    </p>
                    <p class="text-md py-2">
                      <strong class="fw-medium">{{app.SystemSetting.footer_phone}}</strong>
                    </p>

                    {% include 'views/front/ecommerce/includes/social_icons.html.twig' %}
                  </div>
                </div>
              </div>
            </div><!-- /.modal-body -->
          </div><!-- /.modal-content -->
        </div><!-- /.sitemap__links w-50 flex-grow-1 -->
      </div>
    </div><!-- /.modal-dialog modal-fullscreen -->
  </div><!-- /.sitemap position-fixed w-100 -->

  <!-- Quick View -->
  <div class="modal fade" id="quickView" tabindex="-1">
    <div class="modal-dialog quick-view modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="product-single">
          <div class="product-single__media m-0">
            <div class="product-single__image position-relative w-100">
              <div class="swiper-container js-swiper-slider"
                data-settings='{
                  "slidesPerView": 1,
                  "slidesPerGroup": 1,
                  "effect": "none",
                  "loop": false,
                  "navigation": {
                    "nextEl": ".modal-dialog.quick-view .product-single__media .swiper-button-next",
                    "prevEl": ".modal-dialog.quick-view .product-single__media .swiper-button-prev"
                  }
                }'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" src="https://uomo-html.flexkitux.com/images/products/quickview_1.jpg" alt="">
                  </div>
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" src="https://uomo-html.flexkitux.com/images/products/quickview_2.jpg" alt="">
                  </div>
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" src="https://uomo-html.flexkitux.com/images/products/quickview_3.jpg" alt="">
                  </div>
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" src="https://uomo-html.flexkitux.com/images/products/quickview_4.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-button-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></div>
                <div class="swiper-button-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></div>
              </div>
            </div>
          </div>
          <div class="product-single__detail">
            <h1 class="product-single__name">Lightweight Puffer Jacket With a Hood</h1>
            <div class="product-single__price">
              <span class="current-price">$449</span>
            </div>
            <div class="product-single__short-desc">
              <p>Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet magna posuere eget.</p>
            </div>
            <form name="addtocart-form" method="post">
              <div class="product-single__swatches">
                <div class="product-swatch text-swatches">
                  <label>Sizes</label>
                  <div class="swatch-list">
                    <input type="radio" name="size" id="swatch-1">
                    <label class="swatch js-swatch" for="swatch-1" aria-label="Extra Small" data-bs-toggle="tooltip" data-bs-placement="top" title="Extra Small">XS</label>
                    <input type="radio" name="size" id="swatch-2" checked>
                    <label class="swatch js-swatch" for="swatch-2" aria-label="Small" data-bs-toggle="tooltip" data-bs-placement="top" title="Small">S</label>
                    <input type="radio" name="size" id="swatch-3">
                    <label class="swatch js-swatch" for="swatch-3" aria-label="Middle" data-bs-toggle="tooltip" data-bs-placement="top" title="Middle">M</label>
                    <input type="radio" name="size" id="swatch-4">
                    <label class="swatch js-swatch" for="swatch-4" aria-label="Large" data-bs-toggle="tooltip" data-bs-placement="top" title="Large">L</label>
                    <input type="radio" name="size" id="swatch-5">
                    <label class="swatch js-swatch" for="swatch-5" aria-label="Extra Large" data-bs-toggle="tooltip" data-bs-placement="top" title="Extra Large">XL</label>
                  </div>
                  <a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>
                </div>
                <div class="product-swatch color-swatches">
                  <label>Color</label>
                  <div class="swatch-list">
                    <input type="radio" name="color" id="swatch-11">
                    <label class="swatch swatch-color js-swatch" for="swatch-11" aria-label="Black" data-bs-toggle="tooltip" data-bs-placement="top" title="Black" style="color: #222"></label>
                    <input type="radio" name="color" id="swatch-12" checked>
                    <label class="swatch swatch-color js-swatch" for="swatch-12" aria-label="Red" data-bs-toggle="tooltip" data-bs-placement="top" title="Red" style="color: #C93A3E"></label>
                    <input type="radio" name="color" id="swatch-13">
                    <label class="swatch swatch-color js-swatch" for="swatch-13" aria-label="Grey" data-bs-toggle="tooltip" data-bs-placement="top" title="Grey" style="color: #E4E4E4"></label>
                  </div>
                </div>
              </div>
              <div class="product-single__addtocart">
                <div class="qty-control position-relative">
                  <input type="number" name="quantity" value="1" min="1" class="qty-control__number text-center">
                  <div class="qty-control__reduce">-</div>
                  <div class="qty-control__increase">+</div>
                </div><!-- .qty-control -->
                <button type="submit" class="btn btn-primary btn-addtocart js-open-aside" data-aside="cartDrawer">Add to Cart</button>
              </div>
            </form>
            
            <div class="product-single__meta-info mb-0">
              <div class="meta-item">
                <label>SKU:</label>
                <span>N/A</span>
              </div>
              <div class="meta-item">
                <label>Categories:</label>
                <span>Casual & Urban Wear, Jackets, Men</span>
              </div>
              <div class="meta-item">
                <label>Tags:</label>
                <span>biker, black, bomber, leather</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-dialog -->
  </div><!-- /.quickview position-fixed -->
  
  <!-- Newsletter Popup -->
  <div class="modal fade {{app.SystemSetting.auto_show ? 'auto_show' : ''}}" id="newsletterPopup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog newsletter-popup modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="row p-0 m-0">
          <div class="col-md-6 p-0 d-none d-md-block">
            <div class="newsletter-popup__bg h-100 w-100">
              <img loading="lazy" src="https://uomo-html.flexkitux.com/images/newsletter-popup.jpg" class="h-100 w-100 object-fit-cover d-block" alt="">
            </div>
          </div>
          <div class="col-md-6 p-0 d-flex align-items-center">
            <div class="block-newsletter w-100">
              <h3 class="block__title">Sign Up to Our Newsletter</h3>
              <p>Be the first to get the latest news about trends, promotions, and much more!</p>
              <form action="./index.html" class="footer-newsletter__form position-relative bg-body">
                <input class="form-control border-2" type="email" name="email" placeholder="Your email address">
                <input class="btn-link fw-medium bg-transparent position-absolute top-0 end-0 h-100" type="submit" value="JOIN">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.newsletter-popup position-fixed -->


  <!-- Go To Top -->
  <div id="scrollTop" class="visually-hidden end-0"></div>

  <!-- Page Overlay -->
  <div class="page-overlay"></div><!-- /.page-overlay -->
