{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}


    
    <div class="order-complete">
        <div class="order-complete__message">
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="40" fill="#B9A16B"></circle>
            <path d="M52.9743 35.7612C52.9743 35.3426 52.8069 34.9241 52.5056 34.6228L50.2288 32.346C49.9275 32.0446 49.5089 31.8772 49.0904 31.8772C48.6719 31.8772 48.2533 32.0446 47.952 32.346L36.9699 43.3449L32.048 38.4062C31.7467 38.1049 31.3281 37.9375 30.9096 37.9375C30.4911 37.9375 30.0725 38.1049 29.7712 38.4062L27.4944 40.683C27.1931 40.9844 27.0257 41.4029 27.0257 41.8214C27.0257 42.24 27.1931 42.6585 27.4944 42.9598L33.5547 49.0201L35.8315 51.2969C36.1328 51.5982 36.5513 51.7656 36.9699 51.7656C37.3884 51.7656 37.8069 51.5982 38.1083 51.2969L40.385 49.0201L52.5056 36.8996C52.8069 36.5982 52.9743 36.1797 52.9743 35.7612Z" fill="white"></path>
          </svg>
          <h3>{{lang.translate('Your order is')}} {{order.status}} !</h3>
          <p>{{lang.translate('Thank you. Your order has been received')}}.</p>
        </div>
        <div class="order-info">
          <div class="order-info__item">
            <label>{{lang.translate('Order Number')}}</label>
            <span>{{order.order_id}}</span>
          </div>
          <div class="order-info__item">
            <label>{{lang.translate ('Date')}}</label>
            <span>{{order.date}} </span>
          </div>
          <div class="order-info__item">
            <label>{{lang.translate('Total')}}</label>
            <span>{{app.currency.symbol}}{{app.currency_amount(order.total_amount)}}</span>
          </div>
          <div class="order-info__item">
            <label>{{lang.translate('Paymetn Method')}}</label>
            <div>
                {% if order.invoice.status == 'paid' %}
                <p class="fw-semibold flex">
                    <span class="flex gap-2 fw-bold">
                        <img src="/app/image.php?w=20&h=20&src=/uploads/img/payment_methods/{{order.invoice.transaction.payment_method|lower}}.png" />
                        {{order.invoice.transaction.payment_method}}
                    </span>
                    <a href="/invoice/{{order.invoice.code}}" class=" px-4  font-bold " >{{lang.translate('Invoice')}} {{order.invoice.code}}</a>
                </p>
                {% elseif  order.status == 'cancelled' %}
                {{lang.translate(order.status)}}
                {% else %}
                    
                    {% if order.invoice.status != 'paid' %}                
                    <div x-data="{}" class="flex gap gap-10">
                        <div class="block "  >
                            <a href="#!" x-on:click="completePayPal()" class=" w-40 my-4  gap gap-2 text-center font-bold px-4 py-3 text-primary border border-2 border-blue-400 rounded-xl" >
                                <img src="/uploads/img/payment_methods/paypal.png" class="inline w-6 h-6" /> {{lang.translate('PayPal')}}
                            </a>
                        </div>
                        <div class="block ">
                            <a href="#!" x-on:click="completePaystack()" class=" w-40 my-4 gap gap-2 text-center font-bold px-4 py-3 text-primary border border-2 border-blue-400 rounded-xl" >
                                <img src="/uploads/img/payment_methods/paystack.png" class="inline w-6 h-6 p-1" /> {{lang.translate('Paystack')}}
                            </a>
                        </div>
                    </div>
                    <div id="paypal-button-container"></div>
                    {% endif %}
                {% endif %}
            </div>
          </div>
        </div>
        <div class="checkout__totals-wrapper">
          <div class="checkout__totals">
            <h3>{{lang.translate('Order Details')}}</h3>
            <table class="checkout-cart-items">
              <thead>
                <tr>
                  <th>{{lang.translate('PRODUCT')}}</th>
                  <th>{{lang.translate('SUBTOTAL')}}</th>
                </tr>
              </thead>
              <tbody>
              {% if order.items|length %}
              {% for orderItem in order.items %}
                <tr>
                  <td>
                    {{orderItem.item.lang_content.title}} X {{orderItem.quantity}}
                  </td>
                  <td>
                    {{app.currency.symbol}}{{app.currency_amount(orderItem.subtotal)}} 
                  </td>
                </tr>
              
              {% endfor %}
              {% endif %}

              </tbody>
            </table>
            <table class="checkout-totals">
              <tbody>
                <tr>
                  <th>{{lang.translate ('SUBTOTAL')}}</th>
                  <th></th>
                  <td>{{app.currency.symbol}}<span >{{app.currency_amount(order.subtotal)}}</td>
                </tr>
                <tr>
                  <th>{{lang.translate ('SHIPPING')}}</th>
                  <th></th>
                  <td>{{app.currency.symbol}}<span >{{app.currency_amount(order.shipping_amount)}}</td>
                </tr>
                <tr>
                  <th>{{lang.translate ('VAT')}}</th>
                  <th></th>
                  <td>{{app.currency.symbol}}<span >{{app.currency_amount(order.tax_amount)}}</td>
                </tr>
                <tr>
                  <th>{{lang.translate('Discount')}}</th>
                  <th></th>
                  <td>{{app.currency.symbol}}{{app.currency_amount(order.total_discount)}}</td>
                </tr>
                <tr>
                  <th>{{lang.translate('TOTAL')}}</th>
                  <th></th>
                  <td > <span class="text-xl"> {{app.currency.symbol}}{{app.currency_amount(order.total_amount)}}</span> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        {% if order.status != 'cancelled' %}
        <a href="/front_api/update?type=Order.update&params[order_id]={{order.order_id}}&params[status]=cancelled" data-confirm="{{lang.translate('are you sure')}}" data-confirm-text="{{lang.translate('Confirm to cancel this order')}}" class="ajax-link my-4 block text-center font-bold px-4 py-3 bg-red-600 text-white" >{{lang.translate('Cancel order')}}</a>
        {% endif %}

      </div>

    
<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/footer_assets.html.twig' %}
{% include 'views/plugins/payment_methods/paystack.js.twig' %}
<script src="https://www.paypal.com/sdk/js?client-id={{app.setting.paypal_api_key}}"></script>

<script>
function completePayPal() 
{

    {# $.ajax({
        url: '/front_api/create',
        type: 'POST',
        dataType: 'JSON',
        contentType: 'application/json',
        data:  JSON.stringify({params: data}), // Your data to send
        processData:false,
        success: function(data) {
            // Update your UI with the new data
                handleResponse(data, null)
        },
        error: function(xhr, status, error) {
            console.error('Error fetching data:', error);
        }
    }); #}
        
    paypal.Buttons({
        style: {
            layout: 'vertical',
            color:  'blue',
            shape:  'rect',
            label:  'paypal'
        },
        createOrder: function (data, actions) {
            // Set up the transaction details
            return actions.order.create({
                purchase_units: [
                    {% for orderItem in order.items %}
                    {% set itemTotal = orderItem.total_amount - (orderItem.tax_amount ?? 0)   %}
                    {
                        reference_id: {{orderItem.order_item_id}},
                        description: '{{orderItem.item.lang_content.title}}',
                        custom_id: {{orderItem.order_item_id}},
                        amount: {
                            currency_code: 'USD',
                            value: '{{ app.currency_converter( orderItem.total_amount + (loop.index == 1 ? (order.shipping_amount ?? 0) : 0), 'USD' ) }}', // Set your payment amount here
                            breakdown: {
                                item_total: {
                                    currency_code: "USD",
                                    value: '{{app.currency_converter( itemTotal, 'USD' )}}'
                                },
                                shipping: {
                                    currency_code: "USD",
                                    value: '{{loop.index == 1 ? app.currency_converter(order.shipping_amount, 'USD') : 0}}'
                                },
                                tax_total: {
                                    currency_code: "USD",
                                    value: '{{app.currency_converter(orderItem.tax_amount, 'USD') ?? 0}}'
                                },
                            },
                        },
                    },
                    {% endfor %}
                ],
            });
        },
        onApprove: function (data, actions) {
            // Capture the payment when the user approves
            return actions.order.capture().then(function (response) {
                // Handle the successful payment
                
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        var defaultParams = {
                            type:  'Transaction.verify',
                            params: {
                                payment_method: 'PayPal',
                                order_id: '{{order.order_id}}',
                                transaction: JSON.stringify(response)
                            },
                        };
                        var formData = $.param($.extend(defaultParams, settings.data));
                        settings.data = formData;
                    }
                });

                let a = $.ajax({
                    url: '/front_api/create',
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded',
                    data:  {}, // Your data to send
                    processData:false,
                    success: function(data) {
                        console.log(data)
                        let a = JSON.parse(data);
                        if (a.result.code)
                            window.location.href = '/invoice/'+a.result.code;

                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching data:', error);
                    }
                }); 
                
            });
        },
    }).render('#paypal-button-container');
}
</script>
</body>
</html>