{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}


<div class="container mx-auto flex pt-6 pb-2">
	<div class="w-full">
		<h1 class="text-xl">{{page.lang_content.title}}</h1>
	</div>
	<div class="flex-end">
		<div class="flex w-full flex-nowrap">
			<span class="flex-none">
				<a href="/">{{lang.translate('Home')}}</a>
			</span>
			<span class="flex-none">/</span>
			<span class="flex-none">{{page.lang_content.title}}</span>

		</div>
	</div>
</div>
<div class="container mx-auto bg-red-600 py-1 mb-2"></div>

<div class="products-pg-style2 container mx-auto" x-data="{gridClass: 'grid-cols-4', page: {{app.params.page ?? 1}}}">

	<section class="tc-filter-wrapper-style2 page-padding">

		<form class="action ajax-form" action="{{app.CONF.url}}front_api" method="POST" id="filter-form">
			<input type="hidden" x-model="page" data-element="data-content" data-form="filter-form" name="params[page]" value="{{app.params().page ?? 1 }}">
			<div class="container-fluid py-4">
				<div class="filter-head">
					<div class="row align-items-center ltr">
						<div class="col-lg-2">
							<div class="filter-toggle">
								<span class="icon">
									<i class="la la-sliders-h"></i>
								</span>
								<span class="txt">
									{{lang.translate('filter')}}
								</span>
								<span class="arrow">
									<i class="la la-angle-down"></i>
								</span>
							</div>
						</div>
						<div class="col-lg-3 offset-lg-2">
							<div class="tc-navbar-container-style3 w-96 mx-auto">
								<div class="search-nav-style3 bg-cyan2">
									<div class="col-lg-12">
										<div class="search-">
											<div class="input-group flex-nowrap gap-2">
												<input data-element="data-content" data-form="filter-form" name="params[title]" required type="text" class="form-control rounded-full" value="{{app.params().title}}" placeholder="{{lang.translate('Search anything')}}...">
												<a href="#" class="search-btn mt-2">
													<i class="fa fa-search"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 offset-lg-2">
							<div class="sort-wrapper">
								<strong>
									{{lang.translate('sort by')}}:
								</strong>
								<select name="" id="" class="form-select">
									<option value="">
										{{lang.translate('New')}}
									</option>
									<option value="">
										{{lang.translate('Best sales')}}
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-body" style="display:block">
					<div class="row">
						<div class="col-lg-2 mt-5">


							<div class="accordion" id="Categories-filters">
								<div class="accordion-item mb-4">
									<h5 class="accordion-header mb-2" id="accordion-heading-Categories">
										<button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-Categories" aria-expanded="true" aria-controls="accordion-filter-Categories">
											{{lang.translate('Categories')}}
											<svg class="accordion-button__icon type2" viewbox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
												<g aria-hidden="true" stroke="none" fill-rule="evenodd">
													<path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z"/>
												</g>
											</svg>
										</button>
									</h5>
									<div id="accordion-filter-Categories" class="py-4 accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-Categories" data-bs-parent="#Categories-filters">

										<div class="check-group">
											{% for category in categories %}
												<div class="form-check">
													<input data-element="data-content" data-form="filter-form" name="params[categories_ids][]" class="form-check-input" type="checkbox" value="{{category.category_id}}" id="category{{loop.index}}">
													<label class="form-check-label" for="category{{loop.index}}">
														{{category.name}}
													</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<!-- /.accordion-item -->
							</div>
							<!-- /.accordion -->

						</div>
						<div class="col-lg-2 mt-5 overflow-y-auto" style="max-height: 200px">


							<div class="accordion" id="Brands-filters">
								<div class="accordion-item mb-4">
									<h5 class="accordion-header mb-2" id="accordion-heading-Brands">
										<button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-Brands" aria-expanded="true" aria-controls="accordion-filter-Brands">
											{{lang.translate('Brands')}}
											<svg class="accordion-button__icon type2" viewbox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
												<g aria-hidden="true" stroke="none" fill-rule="evenodd">
													<path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z"/>
												</g>
											</svg>
										</button>
									</h5>
									<div id="accordion-filter-Brands" class="py-4 accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-Brands" data-bs-parent="#Brands-filters">

										<div class="check-group">
											{% for brand in brands %}
												<div class="form-check">
													<input data-element="data-content" data-form="filter-form" name="params[brands][]" class="form-check-input" type="checkbox" value="{{brand.brand_id}}" id="brand{{loop.index}}">
													<label class="form-check-label" for="brand{{loop.index}}">
														{{brand.brand.name}}
													</label>
												</div>
											{% endfor %}
										</div>

									</div>
								</div>
								<!-- /.accordion-item -->
							</div>
							<!-- /.accordion -->


						</div>
						<div class="col-lg-2 mt-5  overflow-y-auto" style="max-height: 200px">


							<div class="accordion" id="Colors-filters">
								<div class="accordion-item mb-4">
									<h5 class="accordion-header mb-2" id="accordion-heading-Colors">
										<button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-Colors" aria-expanded="true" aria-controls="accordion-filter-Colors">
											{{lang.translate('Colors')}}
											<svg class="accordion-button__icon type2" viewbox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
												<g aria-hidden="true" stroke="none" fill-rule="evenodd">
													<path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z"/>
												</g>
											</svg>
										</button>
									</h5>
									<div id="accordion-filter-Colors" class="py-4 accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-Colors" data-bs-parent="#Colors-filters">
										<div class="check-group">
											{% for color in colors %}
												<div class="form-check">
													<input data-element="data-content" data-form="filter-form" name="params[colors][]" class="form-check-input" style="margin-top: 7px" type="checkbox" value="{{color.value}}" id="color{{loop.index}}">
													<label class="px-2 pt-1 form-check-label" for="color{{loop.index}}">
														<div class="color-label ">
															<span class="py-2 px-6 rounded-lg  border " style="background-color: {{color.value}};"></span>
														</div>
													</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<!-- /.accordion-item -->
							</div>
							<!-- /.accordion -->
						</div>
						<div class="col-lg-2 mt-5  overflow-y-auto" style="max-height: 200px">
							<div class="accordion" id="size-filters">
								<div class="accordion-item mb-4">
									<h5 class="accordion-header mb-2" id="accordion-heading-size">
										<button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-size" aria-expanded="true" aria-controls="accordion-filter-size">
											{{lang.translate('Sizes')}}
											<svg class="accordion-button__icon type2" viewbox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
												<g aria-hidden="true" stroke="none" fill-rule="evenodd">
													<path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z"/>
												</g>
											</svg>
										</button>
									</h5>
									<div id="accordion-filter-size" class="py-4 accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-size" data-bs-parent="#size-filters">
										<div class="check-group">
											{% for size in sizes %}
												<div class="form-check">
													<input data-element="data-content" data-form="filter-form" name="params[sizes][]" class="form-check-input" type="checkbox" value="{{size.value}}" id="finish{{loop.index}}">
													<label class="form-check-label" for="finish{{loop.index}}">
														{{size.value}}
													</label>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<!-- /.accordion-item -->
							</div>

						</div>

						<div class="col-lg-3 mt-5  overflow-y-auto" style="max-height: 200px">

							<div class="accordion" id="price-filters">
								<div class="accordion-item mb-4">
									<h5 class="accordion-header mb-2" id="accordion-heading-price">
										<button class="accordion-button p-0 border-0 fs-5 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-filter-price" aria-expanded="true" aria-controls="accordion-filter-price">
											{{lang.translate('Prices')}}
											<svg class="accordion-button__icon type2" viewbox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
												<g aria-hidden="true" stroke="none" fill-rule="evenodd">
													<path d="M5.35668 0.159286C5.16235 -0.053094 4.83769 -0.0530941 4.64287 0.159286L0.147611 5.05963C-0.0492049 5.27473 -0.049205 5.62357 0.147611 5.83813C0.344427 6.05323 0.664108 6.05323 0.860924 5.83813L5 1.32706L9.13858 5.83867C9.33589 6.05378 9.65507 6.05378 9.85239 5.83867C10.0492 5.62357 10.0492 5.27473 9.85239 5.06018L5.35668 0.159286Z"/>
												</g>
											</svg>
										</button>
									</h5>
									<div id="accordion-filter-price" class="py-4 accordion-collapse collapse show border-0" aria-labelledby="accordion-heading-price" data-bs-parent="#price-filters">
										<input data-element="data-content" data-form="filter-form" class="price-range-slider" type="text" name="params[prices]" value="0,999" data-slider-min="0" data-slider-max="999" data-slider-step="5" data-slider-value="[0,999]" data-currency="$">
										<div class="price-range__info d-flex align-items-center mt-2">
											<div class="me-auto">
												<span class="text-secondary">{{lang.translate('Min Price')}}:
												</span>
												<span class="price-range__min">$0</span>
											</div>
											<div>
												<span class="text-secondary">{{lang.translate('Max Price')}}:
												</span>
												<span class="price-range__max">{{app.currency.symbol}}999</span>
											</div>
										</div>
									</div>
								</div>
								<!-- /.accordion-item -->
							</div>
							<!-- /.accordion -->
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" value="search_products" name="type"/>
			<input data-element="data-content" data-form="filter-form" id="best_sort_filter_form" type="radio" value="best" checked name="params[sort_by]" class="hidden"/>
			<input data-element="data-content" data-form="filter-form" id="new_sort_filter_form" type="radio" value="new" name="params[sort_by]" class="hidden"/>
		</form>
	</section>
	<section class="tc-products-style2 page-padding pt-10 pb-80">
		<div class="container-fluid">


			<div class="shop-main container scrollbar-gray">
				<div class="d-flex justify-content-between mb-4 pb-md-2">
					<div class="breadcrumb mb-0 d-none d-md-block flex-grow-1"></div>
					<!-- /.breadcrumb -->

					<div class="shop-acs d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">

						<div class="col-size align-items-center order-1 d-none d-lg-flex">
							<span class="text-uppercase fw-medium me-2">View</span>
							<button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid" data-cols="2">2</button>
							<button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid" data-cols="3">3</button>
							<button class="btn-link fw-medium js-cols-size" data-target="products-grid" data-cols="4">4</button>
						</div>
						<!-- /.col-size -->

					</div>
					<!-- /.shop-acs -->
				</div>
				<!-- /.d-flex justify-content-between -->

				<div class="products-grid overflow-auto">
					<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 flex-nowrap" id="data-content">
						<img width="50%" class="mx-auto" src="/uploads/img/loader.gif"/>

					</div>
				</div>
			</div>
			<!-- /.shop-main container -->

		</div>
	</section>
</div>

 <script>
function submitFilters(append = null)
{
    jQuery('#data-content').html('<img width="50%" class="mx-auto" src="/uploads/img/loader.gif" />');
    setTimeout(function(){
        submitForm('filter-form', 'data-content', append);
    }, 100)
}

addEventListener("load", (event) => {
    submitFilters(null)
});
</script>

<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/footer_assets.html.twig' %}</body></html>
