{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}


    <main class="container mx-auto pt-20">

        <section class="shop-main container scrollbar-gray pt-20">
            <div class="d-flex justify-content-between mb-4 pb-md-2">
                <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
                    <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">{{lang.translate('Home')}}</a>
                    <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                    <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">{{lang.translate('Wishlist')}}</a>
                </div>
                <!-- /.breadcrumb -->

            </div>
            <!-- /.d-flex justify-content-between -->

            <div class="products-grid overflow-auto">
                <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 flex-nowrap" id="products-grid">
                    {% if items|length > 0 %}
                    {% for wishListitem in items %}
                    <div class="product-card-wrapper">

                        {% set item = wishListitem.item %}

                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="{{app.CONF.url}}{{item.lang_content.prefix}}"><img loading="lazy" src="/app/image.php?w=600&h=600&src={{item.picture}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                                            </div>
                                            <!-- /.pc__img-wrapper -->
                                            <div class="swiper-slide">
                                                <a href="{{app.CONF.url}}{{item.lang_content.prefix}}"><img loading="lazy" src="/app/image.php?w=600&h=600&src={{item.picture}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                                            </div>
                                            <!-- /.pc__img-wrapper -->
                                        </div>
                                        <span class="pc__img-prev">
                                            <svg width="7" height="11" viewbox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm"/></svg>
                                        </span>
                                        <span class="pc__img-next">
                                            <svg width="7" height="11" viewbox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm"/></svg>
                                        </span>
                                    </div>
                                    <button class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart">Add To Cart</button>
                                </div>

                                <div class="pc__info position-relative">

                                    <h6 class="pc__title">
                                        <a href="{{app.CONF.url}}{{item.lang_content.prefix}}">{{item.lang_content.title}}</a>
                                    </h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price price-sale">
                                            {{app.currency.symbol}}{{app.currency_amount(item.price)}}</span>
                                        {% if item.old_price > 0 %}
                                            <span class="money price price-old px-2">
                                                {{app.currency.symbol}}{{app.currency_amount(item.old_price)}}</span>
                                        {% endif %}
                                    </div>

                                    <div class="rating flex gap-2">
                                        {% set rate = page.rate() %}
                                        <div class="stars">
                                            {% for i in [0,1,2,3,4] %}
                                                <i class="la la-star {{rate > i ? 'text-yellow-400' : 'opacity-10'}}"></i>
                                            {% endfor %}
                                        </div>
                                        <span class="num">
                                            ({{page.reviews|length}})
                                        </span>
                                    </div>
                                </div>
                                <div class="pc-labels position-absolute top-0 start-0 w-100 d-flex justify-content-between">
                                    <div class="pc-labels__left">

                                        <a href="/front_api/delete?type=Wishlist.delete&params[wishlist_id]={{wishListitem.wishlist_id}}" data-params="{{item.product_id}}" class="ajax-link pc-label pc-label_new d-block bg-white">
                                            X
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="content container mx-auto text-center">
                        <h2 class="mb-3 text-4xl font-bold">{{lang.translate('Empty')}}!</h2>
                        <h3 class="mb-3">{{lang.translate('No data here')}}</h3>
                        <button class="btn btn-primary">{{lang.translate('GO BACK')}}</button>
                    </div>
                    {% endif %}

                </div>

            </div>
        </section>
        <!-- /.shop-main container -->


    </main>

    <!-- Footer -->
    <!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/footer_assets.html.twig' %}</body></html>
