<section class="product-single container pt-20">
	<div class="mx-auto py-10">
        <div class="mw-930">
            <h2 class="page-title">{{page.lang_content.title}}</h2>
            <div class="blog-single__item-meta">
                <span class="blog-single__item-meta__date">{{lang.translate('Date')}}: <b>{{page.created_at|date('Y-m-d')}}</b></span>
                <span class="blog-single__item-meta__category">{{lang.translate('Views')}}: <b>{{ page.views_sum_times ?? '0'}}</b> </span>
            </div>
        </div>
        <div class="mw-930">
            <p class="pb-10">
                <img src="{{page.picture}}" width="1000" height="200" />
            </p>
            {{app.renderTemplate(page.lang_content.content ?? '').render( {'lang':lang, 'page': page }  )|raw}}
        </div>
	</div>


<section class="blog-carousel container">
      <h2 class="section-title text-uppercase fw-bold text-center mb-3 pb-xl-2 mb-xl-4">{{lang.translate('Related articles')}}</h2>

      <div class="position-relative">
        <div class="swiper-container js-swiper-slider"
          data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 3,
            "slidesPerGroup": 3,
            "effect": "none",
            "loop": true,
            "pagination": {
              "el": ".blog-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "slidesPerGroup": 1,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 3,
                "slidesPerGroup": 1,
                "spaceBetween": 30
              }
            }
          }'>
          <div class="swiper-wrapper blog-grid row-cols-xl-3">
          {%  for item in page.similar(6) %}
            <div class="swiper-slide blog-grid__item mb-4">
              <div class="blog-grid__item-image">
                  <a href="{{item.lang_content.prefix}}">
                    <img loading="lazy" class="h-auto" src="{{item.picture}}" width="450" height="300" alt="">
                  </a>
              </div>
              <div class="blog-grid__item-detail">
                <div class="blog-grid__item-meta">
                  <span class="blog-grid__item-meta__date">{{item.created_at|date('Y-m-d')}}</span>
                </div>
                <div class="blog-grid__item-title mb-0">
                  <a href="{{item.lang_content.prefix}}">{{item.lang_content.title}}</a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper-container js-swiper-slider -->
    
        <div class="blog-pagination type2 mt-1 mt-md-4 d-flex align-items-center justify-content-center"></div>
        <!-- /.products-pagination -->
      </div><!-- /.position-relative -->
    </section>
    
</section>
