<section class="product-single container pt-20">
	<div class="row py-10">
		<div class="col-lg-7">
			<div class="product-single__media" data-media-type="vertical-thumbnail">
				<div class="product-single__image">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							{% for image in page.images %}

								<div class="swiper-slide product-single__image-item">
									<img loading="lazy" class="h-auto" src="{{app.CONF.url}}app/image.php?w=200&src={{image.path}}" width="674" height="674" alt="">
									<a href="{{app.CONF.url}}app/image.php?w=200&src={{image.path}}" data-bs-toggle="tooltip" data-bs-placement="left" title="Zoom">
										<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_zoom"/></svg>
									</a>
								</div>
							{% endfor %}

						</div>
						<div class="swiper-button-prev">
							<svg width="7" height="11" viewbox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm"/></svg>
						</div>
						<div class="swiper-button-next">
							<svg width="7" height="11" viewbox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm"/></svg>
						</div>
					</div>
				</div>
				<div class="product-single__thumbnail">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							{% for image in page.images %}
								{# <img x-on:click="img = '{{app.CONF.url}}app/image.php?w=600&h=480&src={{image.path}}'" src="{{app.CONF.url}}app/image.php?w=200&src={{image.path}}" class="mt-3 m-1 cursor-pointer" /> #}
								<div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="{{app.CONF.url}}app/image.php?w=200&src={{image.path}}" width="104" height="104" alt=""></div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="d-flex justify-content-between mb-4 pb-md-2">
				<div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
					<a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">{{lang.translate('Home')}}</a>
					<span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
					<a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">{{page.lang_content.title}}</a>
				</div>
				<!-- /.breadcrumb -->

			<div class="rating flex gap-2">
				{% set rate = page.rate() %}
				<div class="stars">
                    {% for i in [0,1,2,3,4] %}
					<i class="la la-star {{rate > i ? 'text-yellow-400' : 'opacity-10'}}"></i>
                    {% endfor %}
				</div>
				<span class="num">
					({{page.reviews|length}})
				</span>
			</div>
			</div>
			<h1 class="product-single__name">{{page.lang_content.title}}</h1>

			<div class="product-single__price py-2 text-lg ">
				<span class="current-price">{{app.currency.symbol}}{{app.currency_amount(page.price)}}
				</span>
				{% if page.old_price > 0 %}
					<span class="old text-sm color-666 text-decoration-line-through">
						{{app.currency.symbol}}{{app.currency_amount(page.old_price)}}
					</span>
				{% endif %}
			</h5>

		</div>
		<div class="product-single__short-desc">
			<p>{{page.lang_content.short}}</p>
		</div>
		<form class="row action ajax-form" action="{{app.CONF.url}}front_api/create" method="POST" id="product-form">
			<input type="hidden" value="Cart.create" name="type"/>
			<input type="hidden" value="{{page.product_id}}" name="params[item_id]"/>
			<div class="product-single__swatches">
				<div class="product-swatch text-swatches">
					<label>Sizes</label>
					<div class="swatch-list">
						{% if page.product_sizes|length %}
							{% for size in page.product_sizes %}
								{% if size.value %}
									<input type="radio" name="params[size]" id="swatch-size{{loop.index}}" value="{{size.value}}" class="hidden" data-form="product-form">
									<label class="swatch js-swatch" for="swatch-size{{loop.index}}" aria-label="{{size.value}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{size.value}}" style="color: {{size.value}}">
										{{size.value}}
									</label>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>
				</div>
				<div class="product-swatch color-swatches">
					<label>{{lang.translate('Color')}}</label>
					<div class="swatch-list">

						{% if page.product_colors|length %}
							<div x-data="{color: ''}" class="py-4  w-full">
								<div class="w-full flex gap-6 ">
									{% for color in page.product_colors %}
										{% if color.value %}
											<input type="radio" name="params[color]" id="swatch-color{{loop.index}}" value="{{color.value}}" class="hidden" data-form="product-form">
											<label class="swatch swatch-color js-swatch" for="swatch-color{{loop.index}}" aria-label="{{color.value}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{color.value}}" style="color: {{color.value}}"></label>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endif %}


					</div>
				</div>
			</div>
			<div class="product-single__addtocart" x-data="{}">
				<div class="qty-control position-relative">
					<input type="number" name="params[qty]" value="1" min="1" class="qty-control__number text-center">
					<div class="qty-control__reduce">-</div>
					<div class="qty-control__increase">+</div>
				</div>
				<!-- .qty-control -->
				<div class="js-open-aside " data-aside="cartDrawer" x-on:click="submitForm('product-form', null); setTimeout(function() {submitForm('form-sidecart', 'sidecart-items')}, 1000)">
					<button type="submit" class="text-gray-600 btn btn-primary btn-addtocart ">{{lang.translate('Add to Cart')}}</button>
				</div>
			</div>
		</form>
		<div class="product-single__addtolinks">
			<a href="/front_api/create?type=Wishlist.create&params[item_id]={{page.product_id}}" data-params="{{page.product_id}}" class="ajax-link me-4 pe-4 border-end">
				<svg width="16" height="16" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart"/></svg>
				<span>{{lang.translate('Add to Wishlist')}}</span>
			</a>
			<a href="/front_api/create?type=Compare.create&params[item_id]={{page.product_id}}" data-params="{{page.product_id}}" class="ajax-link me-4 pe-4 border-end">
				<svg width="16" height="19" viewbox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_sharing"/></svg>
				{{lang.translate('Compare')}}
			</a>
		</div>
		<div class="product-single__meta-info">
			<div class="meta-item">
				<label>SKU:</label>
				<span>{{page.product_fields.sku ?? 'N/A'}}</span>
			</div>
			<div class="meta-item">
				<label>Categories:</label>
				<span>
					{% for cat in page.categories %}
						<a href="{{cat.lang_content.prefix}}">{{ cat.lang_content.title }}</a>
						&
					{% endfor %}
				</span>
			</div>
			<div class="meta-item">
				<label>{{lang.translate('Brand')}}:</label>
				<span>{{page.brand.name}}</span>
			</div>
		</div>
	</div>
</div>
<div class="product-single__details-tab">
	<ul class="nav nav-tabs" id="myTab1" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link nav-link_underscore active" id="tab-description-tab" data-bs-toggle="tab" href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">{{lang.translate('Description')}}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link nav-link_underscore" id="tab-additional-info-tab" data-bs-toggle="tab" href="#tab-additional-info" role="tab" aria-controls="tab-additional-info" aria-selected="false">{{lang.translate('Additional Information')}}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link nav-link_underscore" id="tab-reviews-tab" data-bs-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-reviews" aria-selected="false">{{ lang.translate('Reviews')}} ({{page.reviews|length}})</a>
		</li>
	</ul>
    
	<div class="tab-content">
		<div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="tab-description-tab">
			<div class="product-single__description">
					{{page.lang_content.content}}
			</div>
		</div>
		<div class="tab-pane fade" id="tab-additional-info" role="tabpanel" aria-labelledby="tab-additional-info-tab">
			<div class="product-single__addtional-info">
            
            {% for variant in page.variants %}
				<div class="item">
					<label class="h6">{{lang.translate(variant.title)}}</label>
					<span>{{variant.value}}</span>
				</div>
            {% endfor %}
            
            {% if page.product_fields.weight %}
				<div class="item">
					<label class="h6">{{lang.translate('Weight')}}</label>
					<span>{{page.product_fields.weight}}</span>
				</div>
            {% endif %}
            {% if page.product_fields.dimensions %}
				<div class="item">
					<label class="h6">{{lang.translate('Dimensions')}}</label>
					<span>{{page.product_fields.dimensions}}</span>
				</div>
            {% endif %}
            {% if page.product_fields.unit %}
				<div class="item">
					<label class="h6">{{lang.translate('Unit')}}</label>
					<span>{{page.product_fields.unit}}</span>
				</div>
            {% endif %}
            
            {% if page.product_fields.refundable %}
				<div class="item">
					<label class="h6">{{lang.translate('Refundable')}}</label>
					<span>{{lang.translate('Yes')}}</span>
				</div>
            {% endif %}
            
			
			</div>
		</div>
		<div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-reviews-tab">
			<h2 class="product-single__reviews-title">Reviews</h2>
			<div class="product-single__reviews-list">
				{% for review in page.reviews %}
					<div class="product-single__reviews-item">
						<div class="customer-avatar">
							<img loading="lazy" src="{{review.user.picture ?? '/uploads/img/placeholder.png'}}" alt="">
						</div>
						<div class="customer-review w-full">
							<div class="customer-name w-full">
								<h6>{{review.name}}</h6>
                                
                                <div class="stars">
                                    {% for i in [0,1,2,3,4] %}
                                    <i class="la la-star {{review.rate > i ? 'text-yellow-400' : 'opacity-10'}}"></i>
                                    {% endfor %}
                                </div>
							</div>
							{# <div class="review-date">April 06, 2023</div> #}
							<div class="review-text">
								<p>{{review.comment}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="product-single__review-form">

				<form class="comment-form d-block pt-30 action ajax-form" action="{{app.CONF.url}}front_api/create" method="POST" id="review-form">
					<input type="hidden" value="Review.create" name="type"/>
					<input type="hidden" value="{{page.product_id}}" name="params[item_id]"/>
					<p>{{lang.translate('Your email address will not be published. Required fields are marked')}} *</p>
					<div class="select-star-rating flex gap-6">
						<label>Your rating *</label>

						<span class="star-rating flex gap-2">
                        {% for i in [1,2,3,4,5] %}
							<label><input type="radio" name="params[rate]" class="hidden" value="{{i}}">
								<svg class="star-rating__star-icon" width="16" height="16" fill="#ccc" viewbox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
									<path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z"/>
								</svg>
							</label>
                        {% endfor %}

						</span>
						<input type="hidden" id="form-input-rating" value="">
					</div>
					<div class="mb-4">
						<textarea id="form-input-review" name="params[comment]" class="form-control form-control_gray" placeholder="Your Review" cols="30" rows="8"></textarea>
					</div>
					<div class="form-label-fixed mb-4">
						<label for="form-input-name" class="form-label">{{lang.translate('Name')}} *</label>
						<input id="form-input-name" name="params[name]" class="form-control form-control-md form-control_gray">
					</div>
					<div class="form-label-fixed mb-4">
						<label for="form-input-email" class="form-label">{{lang.translate('Email address')}} *</label>
						<input id="form-input-email" name="params[email]" class="form-control form-control-md form-control_gray">
					</div>
					<div class="form-check mb-4">
						<input class="form-check-input form-check-input_fill" type="checkbox" value="" id="remember_checkbox">
						<label class="form-check-label" for="remember_checkbox">
                            {{lang.translate('Save my name and email in this browser for next time I comment')}}
						</label>
					</div>
					<div class="form-action">
						<button type="submit" class="btn btn-primary text-gray-600">{{lang.translate ('Submit')}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div></section>
