<section class="blog-page-title mb-4 mb-xl-5 mt-20">
	<div class="title-bg">
		<img loading="lazy" src="/uploads/img/blog_title_bg.jpg" width="1780" height="420" alt="">
	</div>
	<div class="container">
		<h2 class="page-title">{{lang.translate('The Blog')}}</h2>
		<div class="blog__filter">
			<p>{{lang.translate('Great articles list')}}</p>
		</div>
	</div>
</section>
<section class="blog-page container">
	<h2 class="d-none">{{lang.translate('The Blog')}}</h2>
	<div class="blog-list mw-930">
        {% for item in items %}
		<div class="blog-list__item">
			<div class="blog-list__item-image">
				<img loading="lazy" class="h-auto" src="{{item.picture}}" width="680" height="493" alt="">
			</div>
			<div class="blog-list__item-detail">
				<div class="blog-list__item-meta">
					<span class="blog-list__item-meta__date">{{item.created_at|date('Y-m-d')}}</span>
				</div>
				<div class="blog-list__item-title">
					<a href="{{item.lang_content.prefix}}">{{item.lang_content.title}}</a>
				</div>
				<div class="blog-list__item-content">
					<p>{{item.lang_content.short}}</p>
					<a href="{{item.lang_content.prefix}}" class="readmore-link">{{lang.translate('Continue Reading')}}</a>
				</div>
			</div>
		</div>
        {% endfor %}
	</adiv>
</section>
