    <div class="position-relative mx-auto {{hook.field.container_style}} ">
    {% if hook.field.show_title %}
      <h2 class="section-title fw-semi-bold fs-30 mb-3 pb-xl-2 mb-xl-5 theme-color">{{hook.title}}</h2>
    {% endif %}

        <div class="swiper-container  js-swiper-slider"
          data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 6,
            "slidesPerGroup": 1,
            "effect": "none",
            "loop": true,
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 1,
                "spaceBetween": 60,
                "pagination": false
              },
              "1200": {
                "slidesPerView": 6,
                "slidesPerGroup": 1,
                "spaceBetween": 97,
                "pagination": false
              }
            }
          }'>
          <div class="swiper-wrapper">
            {% for item in items %}
            <div class="swiper-slide">
              <img loading="lazy" class="h-auto mb-3 mx-auto d-block {{ hook.field.img_style }}" src="/app/image.php?src={{item.picture}}&w=200&h=200" width="145" height="145" alt="">
              <div class="text-center">
                <a href="{{item.lang_content.prefix}}" class="menu-link menu-link_us-s fw-semi-bold fs-15 theme-color text-uppercase">{{item.lang_content.title}}</a>
              </div>
            </div>
            {% endfor %}
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper-container js-swiper-slider -->
      </div><!-- /.position-relative -->