<main class="mt-20">
	<section class="products-carousel container">
		<h2 class="section-title text-center fw-normal mb-1 mb-md-3 pb-xl-3 mb-xl-4">The Inside Collection</h2>

		<div class="position-relative">
			<div class="swiper-container js-swiper-slider" data-settings='{
					            "autoplay": {
					              "delay": 5000
					            },
					            "slidesPerView": 3,
					            "slidesPerGroup": 3,
					            "effect": "none",
					            "loop": false,
					            "breakpoints": {
					              "320": {
					                "slidesPerView": {{hook.field.mobile_view_limit}},
					                "slidesPerGroup": {{hook.field.mobile_view_limit}},
					                "spaceBetween": 14
					              },
					              "768": {
					                "slidesPerView": {{hook.field.tablet_view_limit}},
					                "slidesPerGroup": {{hook.field.tablet_view_limit}},
					                "spaceBetween": 24
					              },
					              "992": {
					                "slidesPerView": {{hook.field.desktop_view_limit}},
					                "slidesPerGroup": 1,
					                "spaceBetween": 30,
					                "pagination": false
					              }
					            }
					          }'>
				<div class="swiper-wrapper">
                    {% for item in items %}
					    {% include 'Shared/Plugins/views/product.html.twig' %}
                    {% endfor %}
				</div>
				<!-- /.swiper-wrapper -->
			</div>
			<!-- /.swiper-container js-swiper-slider -->
		</div>
		<!-- /.position-relative -->

	</section>
	<!-- /.products-carousel container -->

</main>
