        

            <div class="w-full block px-2">

                {# {% include 'views/front/' ~ template ~ '/includes/app_channels.html.twig' %} #}
                
                [plugin_shortcode id='7' ]	

                <div class="h-10"></div>

                <div class="w-full lg:flex gap-6  mb-10">
                    <div class="w-full h-28 relative overflow-hidden bg-gradient-to-r from-pink-600 to-red-400 rounded-full">
                        <a href="/stations" class="ajax-load pl-4 pr-2.5 py-2.5 left-[16px] top-[16px] absolute flex-col justify-start items-start gap-px inline-flex z-10">
                            <div class="text-white text-2xl font-bold">{{lang.translate('Stations')}}</div>
                            <div class="text-white text-2xl font-extrabold ">{{lang.translate('Listen to live stations')}}</div>
                        </a>
                        <img class="w-40 h-32 right-[-60px] top-[-15px] absolute origin-top-left rotate-[11.62deg] rounded-3xl" src="/uploads/img/station-1.jpg" />
                    </div>  

                    
                    <div class="w-full h-28 relative overflow-hidden bg-gradient-to-r from-purple-600 to-cyan-200 rounded-full">
                        <a href="/discover/audiobook" class="ajax-load pl-4 pr-2.5 py-2.5 left-[16px] top-[16px] absolute flex-col justify-start items-start gap-px inline-flex z-10">
                            <div class="text-white text-2xl font-bold">{{lang.translate('Audiobooks')}}</div>
                            <div class="text-white text-2xl font-extrabold ">{{lang.translate('Listen to books chapters')}}</div>
                        </a>
                        <img class="w-40 h-32 right-[-60px] top-[-15px] absolute origin-top-left rotate-[11.62deg] rounded-3xl" src="/uploads/img/audiobook-1.jpg" />
                    </div>  
                    
                    
                    <div class="w-full h-28 relative overflow-hidden bg-gradient-to-r from-rose-500 to-yellow-300 rounded-full">
                        <a href="/channels" class="ajax-load pl-4 pr-2.5 py-2.5 left-[16px] top-[16px] absolute flex-col justify-start items-start gap-px inline-flex z-10">
                            <div class="text-white text-2xl font-bold">{{lang.translate('Channels')}}</div>
                            <div class="text-white text-2xl font-extrabold ">{{lang.translate('Watch live channels')}}</div>
                        </a>
                        <img class="w-40 h-32 right-[-60px] top-[-15px] absolute origin-top-left rotate-[11.62deg] rounded-3xl" src="/uploads/img/channel-1.jpg" />
                    </div>  
                </div>

                [plugin_shortcode id='4' ]	

                <div class="h-10"></div>

                [plugin_shortcode id='5' ]	
            </div>
