
    <style>
        #calendar {
            max-width: 900px;
            margin: 40px auto;
        }
    </style>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />

    <form action="/front_api/update" class="ajax-form" id="calendar-form">
        <input type="hidden" name="type" value="StationMedia.update" />
        <input type="hidden" name="params[station_media_id]" value="" id="stationMediaId" />
        <input type="hidden" name="params[start_at]" value="" id="stationMediaStartTime" />
        <input type="hidden" name="params[date]" value="" id="stationMediaDate" />
    </form>

    <div class="w-full flex gap-2">
        <div id="slider-container" style="width: 200px;">
            <label for="slotDurationRange">Slot Duration (minutes): </label>
            <span id="durationValue">30</span> minutes

            
            <!-- put all in a wrapper:-->
            <div class="range-slide-wrap" role="group" aria-label="slider with ruler" style="--min: 0; --val: 18; --max: 36">
                <!-- slider:-->
                <input id="r"  type="range" list="l"  id="slotDurationRange" min="1" max="60" step="2" value="30">
                <!-- value display:-->
                <output for="r"></output>
                <!-- ruler:-->
                <datalist id="l">
                    <option value="0" style="--idx: 0" label="0"></option>
                    <option value="1" style="--idx: 1"></option>
                    <option value="2" style="--idx: 2"></option>
                    <option value="3" style="--idx: 3"></option>
                    <option value="4" style="--idx: 4"></option>
                    <option value="5" style="--idx: 5"></option>
                    <option value="6" style="--idx: 6" label="6"></option>
                    <option value="7" style="--idx: 7"></option>
                    <option value="8" style="--idx: 8"></option>
                    <option value="9" style="--idx: 9"></option>
                    <option value="10" style="--idx: 10"></option>
                    <option value="11" style="--idx: 11"></option>
                    <option value="12" style="--idx: 12" label="12"></option>
                    <option value="13" style="--idx: 13"></option>
                    <option value="14" style="--idx: 14"></option>
                    <option value="15" style="--idx: 15"></option>
                    <option value="16" style="--idx: 16"></option>
                    <option value="17" style="--idx: 17"></option>
                    <option value="18" style="--idx: 18" label="18"></option>
                    <option value="19" style="--idx: 19"></option>
                    <option value="20" style="--idx: 20"></option>
                    <option value="21" style="--idx: 21"></option>
                    <option value="22" style="--idx: 22"></option>
                    <option value="23" style="--idx: 23"></option>
                    <option value="24" style="--idx: 24" label="24"></option>
                    <option value="25" style="--idx: 25"></option>
                    <option value="26" style="--idx: 26"></option>
                    <option value="27" style="--idx: 27"></option>
                    <option value="28" style="--idx: 28"></option>
                    <option value="29" style="--idx: 29"></option>
                    <option value="30" style="--idx: 30" label="30"></option>
                    <option value="31" style="--idx: 31"></option>
                    <option value="32" style="--idx: 32"></option>
                    <option value="33" style="--idx: 33"></option>
                    <option value="34" style="--idx: 34"></option>
                    <option value="35" style="--idx: 35"></option>
                    <option value="36" style="--idx: 36" label="36"></option>
                </datalist>
            </div>
            
            <section class="range-wrap">
                <p class="box box--fail box--list">Sorry, it appears your browser has failed displaying the slider ruler. Currently, recent versions of Firefox and Chromium browsers should be able to display it.</p>
                <p class="box box--warn box--trig">Sorry, it appears your browser does not support trigonometric functions in CSS, so the slider ruler offset won't look ideal. Currently, trigonometric functions are supported in Safari, Firefox and Chromium browsers starting with version 111 when enabling the<strong>Experimental Web Platform features</strong>
                    flag in<kbd>chrome://flags</kbd>.
                </p>
                <p class="box box--fail box--cmix">Sorry, it appears your browser does not support<code>color-mix</code>. No support or this features prevents the slider's highlight from responding to changes in value. Currently,<code>color-mix</code>
                    is supported in Safari, Chromium browsers starting with version 111 (version 109 when enabling the<strong>Experimental Web Platform features</strong>
                    flag in<kbd>chrome://flags</kbd>) and Firefox starting with version 111 (version 88 when setting the<kbd>layout.css.color-mix.enabled</kbd>
                    flag to<code>true</code>
                    in<kbd>about:config</kbd>).
                </p>
            </section>
        </div>
        <div class="w-full" id='calendar' style="max-height:calc(100vh - 135px)"></div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.js" integrity="sha512-3I+0zIxy2IkeeCvvhXUEu+AFT3zAGuHslHLDmM8JBv6FT7IW6WjhGpUZ55DyGXArYHD0NshixtmNUWJzt0K32w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('calendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridDay',
                slotDuration: '00:05:00', // Time slots every 30 minutes
                allDaySlot: false, // Disable all-day slot
                editable: true,
                droppable: true, 
                nowIndicator: true,
                scrollTime: '{{now}}',
                now: "{{now}}",
                events: 
                [
                    {% for item in station.items %}
                    {
                        title: '{{item.media.name}}',
                        id: '{{item.station_media_id}}',
                        start: '{{item.date|date('Y-m-d')}}T{{item.start_at}}',
                        end: '{{item.date|date('Y-m-d')}}T{{item.start_at|date_modify("+" ~ (item.media.field.duration ?? '1') ~ " seconds")|date("H:i:s")}}'
                    },
                    {% endfor %}
                ],

                dateClick: function(info, i) {
                    
                    jQuery('#station-id').val({{station.station_id}})
                    jQuery("#stationMediaStart").val(info.dateStr.substr(11, 8));
                    jQuery("#stationMediaStartDate").val(info.dateStr.substr(0, 10));
                    jQuery('#find-track-popup').toggleClass('hidden')

                    console.log('Date: ' + info.dateStr.substr(0, 10));
                },
                
                eventDragStop: function(info) {
                    jQuery("#stationMediaId").val(info.event.id);
                },
                eventDrop: function(info) {
                    jQuery("#stationMediaDate").val(info.event.startStr.substr(0, 10));
                    jQuery("#stationMediaStartTime").val(info.event.startStr.substr(11, 8));
                    setTimeout(function(){
                        jQuery("#calendar-form").submit();
                    }, 50)

                },
                
                eventResize: function(info) {
                    alert("This item depends on the media duration");
                    info.revert();
                }
            });

            calendar.render();

            {# var slider = document.getElementById('slotDurationRange');
            var durationValue = document.getElementById('durationValue');

            slider.addEventListener('input', function() {
                durationValue.textContent = newDuration;
                updateSlotDuration();
            }); #}

                
            function updateSlotDuration () 
            {
                var newDuration = slider.value;
                // Convert the slider value to the appropriate format for slotDuration (HH:mm:ss)
                var slotDuration = '00:' + (newDuration.length === 1 ? '0' : '') + newDuration + ':00';
                
                // Reconfigure the calendar with the new slotDuration
                calendar.setOption('slotDuration', slotDuration);
            }
        });

        if(+document.querySelector('option').getBoundingClientRect().width) {
                document.body.style.setProperty('--list', 'none')
        }

        /* 2. update the --val custom property on dragging slider thumb */
        jQuery(document).on('input', 'input[type=range]' , function(e) {
            let _t = e.target;
            _t.parentNode.style.setProperty('--val', +_t.value)
            console.log(_t.value)
        })

    </script>


    {% include 'views/front/' ~ template ~ '/popups/find-track.html.twig' %}
