
            
            <div class="py-4 px-2 w-full">                     

                {% include 'views/front/' ~ template ~ '/includes/genres_section.html.twig' %}

                <div class="z-20 w-full relative dark:bg-gray-900 bg-white   lg:p-8 p-4 rounded-lg rounded  shadow-md mb-4" id="channels-list">

                    <div class="flex text-primary  w-full pb-4">
                        <h3 class="text-xl text-gray-500 font-semibold w-full">{{lang.translate('Top Genres')}}</h3>
                        <div class="flex gap gap-4">
                            <button class="prev-btn" data-slider="top-authors"><img class="w-8" src="/src/front_assets/svg/left.svg"></button>
                            <button class="next-btn" data-slider="top-authors"><img class="w-8" src="/src/front_assets/svg/right.svg"></button>
                        </div>
                    </div>
                    <hr class="opacity-30 mb-4" />

                    <div class="carousel-container flex gap-2" data-count="5" id="top-authors" >
                        {# {% for media_item in list.items %} #}
                        {% include 'views/front/' ~ template ~ '/includes/channel_list.html.twig' %}
                        {# {% endfor %} #}
                    </div>
                </div>


                <div class="w-full lg:flex gap-6 dark:bg-gray-900 bg-white   p-8 rounded-lg shadow shadow-lg relative" >

                    <div class="min-w-56  z-10 relative" id="filter-parent" >
                        {% include 'views/front/' ~ template ~ '/includes/filter-sidebar.html.twig' %}
                    </div>
                    <div class="w-full relative  rounded-lg shadow-md  ">
                        <div class="w-full text-primary border-1 p-8">
                            <div class="w-full dark:text-gray-400 text-xl font-bold tracking-wide"> {{lang.translate('Explore what is trending')}}</div>
                        </div>
                        <hr class="opacity-30" />
                        <div class="w-full p-8">
                            <div class="w-full flex">
                                <div class="w-full ">
                                    <ul class="w-full space-y-4 pb-20">
                                    {% for media_item in list.items %}                                   
                                    {% include 'views/front/' ~ template ~ '/includes/tracks-list.html.twig' %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                
                {% set c = list.count - (app.SystemSetting.category_products_count * app.params.page) %}
                {% if c > 0 %}
                <a href="?params[page]={{app.params.page ? (app.params.page + 1) : 2}}&params[sort_by]={{app.params.sort_by}}&params[date]={{app.params.date}}" class="ajax-load float-right dark:text-gray-400 mx-auto inline-block px-6 py-2 rounded-2xl border transition hover:border-orange-600 border-orange-300">{{lang.translate('Next')}}</a>
                {% endif %}
                {% if app.params.page > 1 %}
				<a href="?params[page]={{(app.params.page - 1)}}&params[sort_by]={{app.params.sort_by}}&params[date]={{app.params.date}}" class="ajax-load float-left dark:text-gray-400 mx-auto inline-block px-6 py-2 rounded-2xl border transition hover:border-orange-600 border-orange-300">{{lang.translate('Previous')}}</a>
                {% endif %}
                <div class="h-10"></div>
            </div>

         