
            <div class="py-4  h-full overflow-hidden rounded-2xl" x-data="{}">                     
                    
                <div class="my-4 h-full lg:flex overflow-hidden rounded-2xl">                     
                    
                    <div class="overflow-hidden w-96 " id="station-parent">
                        <div class=" p-8 relative overflow-hidden  rounded-2xl  w-80" id="station-side" >
                            <div class="artist-overlay top-[-20px] left-0 absolute w-full h-full py-20 bg-gradient-to-b from-gray-800 to-black"></div>
                            <img src="/stream?thumbnail=800&image={{item.items[0].media.picture_name}}"  class="absolute bg-img left-0 top-0" />
                            <div class=" w-full overflow-hidden rounded-2xl text-white mx-auto text-center relative z-10 ">
                                <img src="/stream?thumbnail=300&image={{item.items[0].media.picture_name}}"  class="w-40 h-40 lg:w-56 lg:h-56 rounded-full shadow-xl" />
                                <div class="p-8 text-left ">
                                    <span>{{lang.translate('Station')}}</span>
                                    <h1 class="lg:text-4xl text-2xl start-station" data-station="{{item.station_id}}">{{item.name}}</h1>
                                    
                                    <div class="flex gap-4 py-2">
                                        <span class="text-sm text-gray-100">{{lang.translate('Likes')}} : {{item.likes_count}}</span>
                                        <span class="text-sm text-gray-100">{{lang.translate('Items')}} : {{item.items|length}}</span>
                                    </div>
                                    <hr class="opacity-20 my-2" />
                                    <div class="w-full flex gap-2">
                                        {% set liked = item.liked(app.customer.customer_id).first() %}
                                        <a href="/front_api/create?type=Like.station&params[item_id]={{item.station_id}}" data-params="{item_id: {{item.media_id}} }" class="ajax-link cursor-pointer text-sm text-gray-100">
                                        
                                        <img class="{{liked ? 'hidden' : ''}} w-5" x-on:click="jQuery('#heart-{{item.media_id}}').addClass('hidden'); jQuery('#unheart-{{item.media_id}}').removeClass('hidden')" id="heart-{{item.media_id}}" src="/src/front_assets/svg/white-heart.svg">
                                        <img class="{{liked ? '' : 'hidden'}} w-5" x-on:click="jQuery('#unheart-{{item.media_id}}').addClass('hidden'); jQuery('#heart-{{item.media_id}}').removeClass('hidden')" id="unheart-{{item.media_id}}" src="/src/front_assets/svg/blank-heart.svg">

                                        </a>
                                        <span x-on:click="jQuery('#share-popup').removeClass('hidden')" class="cursor-pointer mx-2 text-sm text-gray-100"><img src="/src/front_assets/svg/share.svg" class="w-5"></span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>  
                    <div class="relative z-10 w-full  gap-4 bg-white dark:bg-gray-900  rounded-2xl p-8 h-full">
                                        

                        <div class="container mx-auto">
                        {% set station = item %}
                        {{item}}
                        {% include 'views/front/' ~ template ~ '/includes/station-stream-block.html.twig' %}
                        </div>

                    </div>

                </div>
                

            </div>

