 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="px-2 lg:flex gap-10 pt-10">
    {% set customer = app.customer_auth %}
	{% include 'views/front/' ~ template ~ '/includes/studio_sidemenu.html.twig' %}

	<div class="text-primary">

		<div class='ui block w-full mb-12 pb-12 flex   dark:text-gray-100'>
			<div class='ui_box hover:bg-rose-600 w-full hover:text-gray-100 relative'>
				<div class='ui_box__inner p-10'>
					<h2>{{lang.translate('Audio items')}}</h2>
					<p>{{lang.translate('Stats of uploaded audio items')}}</p>
					<div class='stat text-6xl py-4'>
						<span>{{customer.audio_items|length}}</span>
					</div>
					<canvas id="myChart"></canvas>
				</div>
				<div class='drop bg-rose-800'>
					<p>{{lang.translate('Add New')}}</p>
					<div class='arrow'></div>
				</div>
			</div>
			<div class='ui_box hover:bg-rose-600 hover:text-gray-100 w-full relative'>
				<div class='ui_box__inner p-10'>
					<h2>{{lang.translate('Audiobooks')}}</h2>
					<p>{{lang.translate('Stats of uploaded Audiobooks')}}</p>
                    
					<div class='stat text-6xl py-4'>
						<span>{{customer.audiobooks|length}}</span>
					</div>
					<canvas id="myChart2"></canvas>

				</div>
				<div class='drop bg-rose-800'>
					<p>{{lang.translate('Add New')}}</p>
					<div class='arrow'></div>
				</div>
			</div>
			<div class='ui_box hover:bg-rose-600 hover:text-gray-100 w-full relative'>
				<div class='ui_box__inner p-10'>
					<h2>{{lang.translate('Videos')}}</h2>
					<p>{{lang.translate('Stats of uploaded Videos')}}</p>
					<div class='stat text-6xl py-4'>
						<span>{{customer.videos|length}}</span>
					</div>
					<canvas id="myChart3"></canvas>

				</div>
				<div class='drop bg-rose-800'>
					<p>Take a closer look</p>
					<div class='arrow'></div>
				</div>
			</div>
		</div>
		<div class="w-full grid">

			<div class="grid grid-cols-12 gap-6 overflow-hidden">

				<div class="ltablet:col-span-6 rounded-lg bg-white rounded-lg shadow-md col-span-12 lg:col-span-6">
					<div class="nui-card nui-card-rounded-md nui-card-default h-full p-8"><!--[--><div class="flex h-full flex-col justify-between gap-y-6 sm:flex-row sm:gap-y-0">
							<div class="flex flex-col">
								<p
									class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-4">
									{{lang.translate('Welcome')}}
								</p>
								<h2 class="text-2xl text-muted-800 dark:text-muted-100">
									{{customer.name}}
								</h2>
								<p class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
									{{('Last login')}}
								</p>
								<div class="mt-auto flex flex-col items-center gap-2 sm:flex-row">
									<a href="/studio/profile" class="ajax-load nui-button nui-button-md nui-button-rounded-md nui-button-solid nui-button-primary w-full sm:w-auto">{{lang.translate('Settings')}}</a>
									|
									<a href="/artist/{{customer.customer_id}}" class="ajax-load w-full sm:w-auto">{{lang.translate('Profile')}}</a>
								</div>
							</div>
							<div class="flex flex-col">
								<p
									class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-4">
									{{('Total plays')}}
								</p>
								<h5
									class="nui-heading nui-heading-2xl nui-weight-semibold nui-lead-normal mb-6">
									543.120
									<!--]-->
								</h5>
								<div class="ms-auto mt-auto">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve" class="shrink-0 text-muted-400 size-12">
										<g>
											<g>
												<defs>
													<path id="LOGOSVGID_1_" d="M228.4,181.2c59.6,0,107.8,48.3,107.8,107.8c0,59.6-48.3,107.8-107.8,107.8">
																																																								                                                                c-59.6,0-107.8-48.3-107.8-107.8C120.6,229.5,168.8,181.2,228.4,181.2 M228.4,78c-116.5,0-211,94.5-211,211
																																																								                                                                c0,116.5,94.5,211,211,211c116.5,0,211-94.5,211-211c0-25.2-4.4-49.5-12.6-71.9c-5.2-14.4-16.9-24.2-32-26.9
																																																								                                                                c-45.1-7.9-82-39.7-97.1-81.9c-5.2-14.5-16.8-24.3-31.9-27C253.7,79.2,241.2,78,228.4,78z"></path>
												</defs>
												<use xlink:href="#LOGOSVGID_1_" clip-rule="evenodd" fill-rule="evenodd" fill="currentColor" class="overflow-visible"></use>
												<clipPath id="LOGOSVGID_2_">
													<use xlink:href="#LOGOSVGID_1_" class="overflow-visible"></use>
												</clipPath>
												<rect x="17.4" y="78" clip-path="url(#LOGOSVGID_2_)" width="422" height="422" fill="currentColor"></rect>
											</g>
											<g>
												<defs>
													<path id="LOGOSVGID_3_" d="M416.8,0c36.3,0,65.8,29.5,65.8,65.8c0,36.3-29.5,65.8-65.8,65.8c-36.3,0-65.8-29.5-65.8-65.8
																																																								                                                                C351,29.5,380.5,0,416.8,0"></path>
												</defs>
												<use xlink:href="#LOGOSVGID_3_" clip-rule="evenodd" fill-rule="evenodd" fill="currentColor" class="overflow-visible"></use>
												<clipPath id="LOGOSVGID_4_">
													<use xlink:href="#LOGOSVGID_3_" class="overflow-visible"></use>
												</clipPath>
												<rect x="351" y="0" clip-path="url(#LOGOSVGID_4_)" width="131.6" height="131.6" fill="currentColor"></rect>
											</g>
										</g>
									</svg>
								</div>
							</div>
						</div><!--]--></div>
				</div>
				<div class="ltablet:col-span-6 rounded-lg col-span-12 lg:col-span-6 shadow-md bg-purple-700">
					<div class="nui-card nui-card-rounded-md nui-card-default !bg-primary-800 !border-primary-800 h-full p-8"><!--[--><div class="flex flex-col justify-between gap-y-16 sm:flex-row sm:gap-y-0">
							<div class="flex flex-col">
								<h2
									class="font mb-3 text-2xl text-white">
									<!--[-->
									Standing Orders
									<!--]-->
								</h2>
								<p
									class="main_font text-gray-200 mb-6">
									<!--[-->
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si longus, levis dictata sunt. Quare attende, quaeso
									<!--]-->
								</p>
							</div>
							<div class="relative min-h-[180px] min-w-[160px] shrink-0">
								<div class="absolute bottom-0 end-0 min-w-[250px] max-w-[250px] sm:-end-16 sm:min-w-[220px]">
									
								</div>
							</div>
						</div><!--]--></div>
				</div>
				<div class="col-span-12 sm:col-span-4">
					<div class="nui-card nui-card-rounded-md nui-card-default p-6"><!--[--><div class="mb-6 flex justify-between">
							<div class="flex flex-col">
								<p class="nui-heading nui-heading-md nui-weight-medium nui-lead-normal text-muted-800 dark:text-muted-100 mb-&amp;">
									{{lang.translate('Total Media items')}}
								</p>
								<p class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400">
									<span class="font-bold">
										{{app.customer_auth.media_items|length}}
									</span>
									<small>
										{{lang.translate('Media items')}}</small>
								</p>
							</div>
							<div><img src="/img/logos/companies/chase-full.svg" alt="Bank logo" class="size-8"></div>
						</div>
						<div class="flex justify-between">
							<div>
								<h5 class="nui-heading nui-heading-xl nui-weight-semibold nui-lead-normal">
									<span class="font-bold">
										{{app.customer_auth.media_items|length}}
									</span>
									<small>
										{{lang.translate('Tracks')}}</small>

								</h5>
							</div>
							<div>
								<button type="button" rel="" target="" class="nui-button-icon nui-button-rounded-lg nui-button-small nui-button-default"><!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1em" height="1em" viewbox="0 0 24 24" data-v-b4402e20="">
										<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7-7l7 7l-7 7"></path>
									</svg><!--]--></button>
							</div>
						</div>

						<div class="flex justify-between">
							<div>
								<h5 class="nui-heading nui-heading-xl nui-weight-semibold nui-lead-normal">
									<span class="font-bold">
										{{app.customer_auth.audiobooks|length}}
									</span>
									<small>
										{{lang.translate('Audiobooks')}}</small>

								</h5>
							</div>
							<div>
								<button type="button" rel="" target="" class="nui-button-icon nui-button-rounded-lg nui-button-small nui-button-default"><!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1em" height="1em" viewbox="0 0 24 24" data-v-b4402e20="">
										<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7-7l7 7l-7 7"></path>
									</svg><!--]--></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-span-12 sm:col-span-4">
					<div class="nui-card nui-card-rounded-md nui-card-default p-6"><!--[--><div class="mb-6 flex justify-between">
							<div class="flex flex-col">
								<p
									class="nui-heading nui-heading-md nui-weight-medium nui-lead-normal text-muted-800 dark:text-muted-100 mb-&amp;">
									<!--[-->
									Eurasian bank
									<!--]-->
								</p>
								<p
									class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400">
									<!--[-->
									**** **** 3291
									<!--]-->
								</p>
							</div>
							<div><img src="/img/logos/companies/eurasian-full.svg" alt="Bank logo" class="size-8"></div>
						</div>
						<div class="flex justify-between">
							<div>
								<h5
									class="nui-heading nui-heading-xl nui-weight-semibold nui-lead-normal">
									<!--[-->
									$1,763.49
									<!--]-->
								</h5>
							</div>
							<div>
								<button type="button" rel="" target="" class="nui-button-icon nui-button-rounded-lg nui-button-small nui-button-default"><!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1em" height="1em" viewbox="0 0 24 24" data-v-b4402e20="">
										<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7-7l7 7l-7 7"></path>
									</svg><!--]--></button>
							</div>
						</div><!--]--></div>
				</div>
				<div class="col-span-12 sm:col-span-4">
					<div class="nui-card nui-card-rounded-md nui-card-default p-6"><!--[--><div class="mb-6 flex justify-between">
							<div class="flex flex-col">
								<p
									class="nui-heading nui-heading-md nui-weight-medium nui-lead-normal text-muted-800 dark:text-muted-100 mb-&amp;">
									<!--[-->
									Bank of America
									<!--]-->
								</p>
								<p
									class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400">
									<!--[-->
									**** **** 5482
									<!--]-->
								</p>
							</div>
							<div><img src="/img/logos/companies/bank-of-america-full.svg" alt="Bank logo" class="size-8"></div>
						</div>
						<div class="flex justify-between">
							<div>
								<h5
									class="nui-heading nui-heading-xl nui-weight-semibold nui-lead-normal">
									<!--[-->
									$6,729.87
									<!--]-->
								</h5>
							</div>
							<div>
								<button type="button" rel="" target="" class="nui-button-icon nui-button-rounded-lg nui-button-small nui-button-default"><!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon" style="" width="1em" height="1em" viewbox="0 0 24 24" data-v-b4402e20="">
										<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7-7l7 7l-7 7"></path>
									</svg><!--]--></button>
							</div>
						</div><!--]--></div>
				</div>
			</div>
		</div>
	</div>


</div>


<script>
$(function(){
    
  const chartsOptions = {
    textPosition: true,
    responsive: true,
    scales: {
        y: {
            display: false
        }
    },
    plugins: {
        legend: false,
    }
};

const chartsData1 = {
      labels: ['Red', 'Blue', 'Yellow'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1,
        backgroundColor: '#9BD0F5',
        borderColor: '#9BD0F5',
        color: '#9BD0F5',
      }]
    };

  new Chart(document.getElementById('myChart'), {
    type: 'line',
    data: chartsData1,
    options: chartsOptions
  });
  
new Chart(document.getElementById('myChart2'), {
    type: 'line',
    data: chartsData1,
    options: chartsOptions
});

new Chart(document.getElementById('myChart3'), {
    type: 'line',
    data: chartsData1,
    options: chartsOptions
});
})

</script>
