<div class="px-2 lg:flex ">
    {% set customer = app.customer_auth %}
	{% include 'views/front/' ~ template ~ '/includes/studio_sidemenu.html.twig' %}

	<div class="dark:text-gray-300 w-full gap-6 overflow-hidden dark:bg-gray-900 bg-white   px-2 py-8 lg:p-8  rounded-lg shadow shadow-lg relative">

		<div class="box">
			<div class="box-header with-border">
				<h4 class="box-title text-2xl">{{lang.translate('Subscriptions')}}</h4>
				<p class="text-fade">{{lang.translate('List of previuos Subscriptions')}}</p>
			</div>
            <hr class="my-6" />
			<div class="box-body pt-0">
				{% for subscription in customer.subscriptions %}
                
                <div class="courses-container">
                    <div class="course">
                        <div class="course-preview">
                            <h6>{{lang.translate(subscription.is_paid ? 'paid' : 'free')}}</h6>
                            <h2>{{subscription.package.name}}</h2>
                            <a href="#">{{lang.translate('View invoice')}} <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="course-info">
                            <div class="progress-container">
                                <div class="progress"></div>
                                <span class="progress-text">
                                    6/9 Challenges
                                </span>
                            </div>
                            <h6>Chapter 4</h6>
                            <h2>Callbacks & Closures</h2>
                            <button class="btn">Continue</button>
                        </div>
                    </div>
                </div>

                {% endfor %}
			</div>
		</div>

	</div>

</div>

