

            <div  class=" text-primary  w-full  rounded-2xl bg-white dark:bg-gray-900  p-8" x-data="{genres: {{genres ?? []}}, selected_genres:[], title: '{{item.name}}' }">
                <form action="/front_api/update" method="post" enctype="multipart/form-data" id="upload-step" class="ajax-form w-full  pb-10">
                
                    <div class=" text-primary"><h4 class="text-xl dark:text-gray-400">{{lang.translate('Media picture')}}</h4></div>
                    <hr class="opacity-30 my-4" />
                    <div class="flex gap-10 pb-6 relative" id="upload-media-form">
                        <label class="cursor-pointer py-4 px-2 dark:bg-gray-800  bg-gray-200 rounded-3xl w-40 border border-1 border-dashed	border-orange-600">
                            <img id="imagePreview" src="{{item.picture ?? '/src/front_assets/svg/picture.svg'}}" class="dark:opacity-30" />
                            <input id="imageInput" type="file" name="file" class="hidden" />
                        </label>
                        <div class="w-full">
                            <a href="/track/{{item.media_id}}" x-text="title"></a>
                            {% include 'views/front/'~app.SystemSetting.template ~'/single-player.html.twig' %}        
                        </div>
                    </div>

                    <div class="loader absolute w-full h-full left-0 top-0 bg-white dark:bg-gray-900 opacity-50 "></div>
                
                    <input type="hidden" name="type" value="MediaItem.update" />
                    <input type="hidden" name="params[media_id]" value="{{item.media_id}}" />
                    
                    <div class=" text-primary mt-6"><h4 class="text-xl dark:text-gray-400">{{lang.translate('Basic info')}}</h4></div>
                    <hr class="opacity-30 my-2" />
                    <div class="grid-cols-2 grid gap-10">
                        <div class="text-primary w-full block">
                            <input name="params[name]" placeholder="{{lang.translate('Item Name')}} *" x-model="title" value="{{item.name}}" class=" dark:bg-gray-900 dark:border-gray-700 py-2 px-4 w-full rounded-2xl bg-gray-100 border focus:outline-none focus:border-orange-300  border-gray-200" />
                        </div>
                        <div class="text-primary w-full block relative">
                            <span class="w-6 absolute my-2 mx-4 left-[90%] right-[90%]"><img src="/src/front_assets/svg/down.svg" /></span>
                            <input placeholder="Genres" class="active-parent cursor-pointer py-2 px-4 w-full rounded-2xl dark:bg-gray-900 dark:border-gray-700 bg-gray-100 border focus:outline-none focus:border-orange-300  border-gray-200" />
                            <div class="show-active active-child hidden rounded-2xl w-full top-10 absolute bg-white dark:bg-gray-900 p-4 ">
                                <template x-for="genre in genres">
                                    <template x-if="!selected_genres.includes(genre)" >
                                        <span class="cursor-pointer block"  x-on:click="selected_genres.push(genre)" x-text="genre.name"></span>
                                    </template>
                                </template>
                            </div>
                            <template x-for="(genre, i) in selected_genres">
                                <span class="mt-2 text-xs rounded-full py-1 px-2 bg-gray-300 text-gray-800  gap-2 inline-block">    
                                    <span class="flex gap-2" ><span x-text="genre.name"></span> <img x-on:click=" selected_genres.splice(i, 1)" src="/src/front_assets/svg/close.svg" /></span> 
                                    <input type="hidden" name="params[selected_genres][]" x-model="genre.category_id" />
                                </span> 
                            </template>
                        </div>                        
                    </div>
                    
                    <div class="text-primary w-full block my-6">
                        <textarea rows="3" placeholder="Description *" name="params[description]" class=" dark:bg-gray-900 dark:border-gray-700 py-2 px-4 w-full rounded-2xl bg-gray-100 border focus:outline-none focus:border-orange-300  border-gray-200" >{{item.description}}</textarea>
                    </div>
                    
                    
                    <button class=" dark:text-gray-400 float-right inline-block px-6 py-2 rounded-2xl border transition hover:border-orange-600 border-orange-300">{{lang.translate('Next')}}</button>
                    
                </form>
            </div>

        </div>
         
    </div>
</div>
    
<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}

<script src="/src/front_assets/js/main.js"></script>

</body>

</html>