              <tr>
                <td>
                  <div class="shopping-cart__product-item">
                    <a href="/{{cart.item.lang_content.prefix}}">
                      <img loading="lazy" src="{{cart.item.picture}}" width="120" height="120" alt="">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="shopping-cart__product-item__detail">
                    <h4><a href="/{{cart.item.lang_content.prefix}}">{{cart.item.lang_content.title}}</a></h4>
                    <ul class="shopping-cart__product-item__options">
                      <li>{{lang.translate('Color')}}: <span class="w-4 h-4 inline-block  rounded-full" style="background: {{cart.color}}"></span></li>
                      <li>{{lang.translate('Size')}}: <span class="border-dashed inline-flex my-1 px-3  border-dark border " >{{cart.size}}</span></li>
                    </ul>
                  </div>
                </td>
                <td>
                  <span class="shopping-cart__product-price">{{app.currency.symbol}}{{app.currency_amount(cart.item.price)}}</span>
                </td>
                <td>
                  <div class="qty-control position-relative">
                    <input type="number" name="params[cart][{{cart.cart_id}}][qty]" value="{{cart.qty}}" min="{{cart.item.product_fields.min_purchase_qty}}"  max="{{cart.item.product_fields.stock}}" class="qty-control__number text-center">
                    <div class="qty-control__reduce">-</div>
                    <div class="qty-control__increase">+</div>
                  </div><!-- .qty-control -->
                </td>
                <td>
                  <span class="shopping-cart__subtotal">{{app.currency.symbol}}{{app.currency_amount(cart.item.price * cart.qty)}}</span>
                </td>
                <td>
                  <a href="{{app.CONF.url}}front_api/delete?type=Cart.delete&params[cart_id]={{cart.cart_id}}" data-confirm="{{lang.translate('Are you sure')}}" data-confirm-text="{{lang.translate('Remove this item from cart')}}" rel="nofollow" class="ajax-link remove-cart">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#767676" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.259435 8.85506L9.11449 0L10 0.885506L1.14494 9.74056L0.259435 8.85506Z"/>
                      <path d="M0.885506 0.0889838L9.74057 8.94404L8.85506 9.82955L0 0.97449L0.885506 0.0889838Z"/>
                    </svg>                  
                  </a>
                </td>
              </tr>
